<div class="modal-help-login">
  <div class="modal-header">
      <h3 class="modal-title">What Account Can I Use?</h3>
  </div>
  <div class="modal-body">
    <p>We use Google+ authentication to ensure the security of your StatsCloud™ account.  So, when registering for the first time, you will need a Gmail account, or one of your personal emails that has been registered with Google.</p>
    <p>To register a personal email with Google, follow the instructions <a href="/files/how-to_g-plus.pdf" class="highlighted-link" target="_blank">here</a>.  As a bonus, registering your personal email with Google will let you sign in to any website that displays the Google+ button.</p>

    <br>

    <a ng-click="cancel()" class="btn btn-default">Dismiss</a>
  </div>
</div>
