<div class="modal-help-plans">
  <div class="modal-body">

    <h4>StatsGuy Suite</h4>

    <table class="plans-table">
      <thead>
        <tr class="last-in-category">
          <th></th>
          <th>
            <div class="plan">HP1</div>
            <div class="tagline">Community</div>
          </th>
          <th>
            <div class="plan">HP3</div>
            <div class="tagline">Elite <i class="fa fa-sm fa-star"></i></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Events -->
        <tr class="feature-category">
          <td>Events</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Goals/Shots</td>
          <td><i class="fa fa-md fa-check"></i></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td class="indented">Plus Misses/Blocks</td>
          <td></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td>Face-Offs</td>
          <td><i class="fa fa-md fa-check"></i></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td class="indented">Team Possession Option</td>
          <td></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td>Advanced Game Events</td>
          <td></i></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td>Goal Pop-Up (Assists and +/-)</td>
          <td><i class="fa fa-md fa-check"></i></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td class="indented">Plus Goal Attributes (Hole, Shot Type, etc.)</td>
          <td></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr class="last-in-category">
          <td>Manpower</td>
          <td></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr class="spacer"></tr>
        <!-- Player Tracking -->
        <tr class="feature-category">
          <td>Player Tracking</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>'Us' Players + 'Them Player' Button</td>
          <td><i class="fa fa-md fa-check"></i></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr class="last-in-category">
          <td class="indented">'Them' Players Option</td>
          <td></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr class="spacer"></tr>
        <!-- Reports / Visualization -->
        <tr class="feature-category">
          <td>Reports / Visualization</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Tabular Report</td>
          <td><i class="fa fa-md fa-check"></i></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td class="indented">Percentage Option</td>
          <td></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td>Events Report</td>
          <td><i class="fa fa-md fa-check"></i></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td class="indented">Intensity Plot Option</td>
          <td></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td>Face-Off Report</td>
          <td><i class="fa fa-md fa-check"></i></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td class="indented">Percentage Option</td>
          <td></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td>Select by Team/Game/Period/Player</td>
          <td><i class="fa fa-md fa-check"></i></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td>Multi-Game Summaries</td>
          <td></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
        <tr>
          <td>Special Teams (EV/PK/PP)</td>
          <td></td>
          <td><i class="fa fa-md fa-check"></i></td>
        </tr>
      </tbody>
    </table>

    <br>

    <a ng-click="cancel()" class="btn btn-default">Dismiss</a>
  </div>
</div>
