<div class="row" ng-if="session.role == 'ISA'">
    <div class="col-md-12">
        <div class="row">
            <div class="col-sm-3">
                <form name="searchLogs" class="search-logs">
                    <input type="search" class="form-control" ng-model="searchQuery" id="search-logs" placeholder="Search...">
                </form>
            </div>
            <div class="col-sm-2">
                <select class="form-control" ng-model="searchSeverity" id="search-logs-severity" ng-options="severity.label for severity in severities"></select>
            </div>
            <div class="col-sm-2">
                <select class="form-control" ng-model="searchDate" id="search-logs-date" ng-options="dateRange.label for dateRange in dateRanges"></select>
            </div>
            <div class="col-sm-5">
                <div class="logs-actions pull-right">
                    <button type="button" class="btn btn-success btn-team-add" ng-click="reload()">
                        <span class="fa fa-refresh fa-md"></span> Reload
                    </button>
                    <button type="button" class="btn btn-success btn-log-export" ng-csv="logsForCsv() " filename="test.csv" lazy-load="true">
                        <span class="fa fa-share-square fa-md"></span> Export
                    </button>
                    <button type="button" class="btn btn-success btn-team-add" ng-click="clearLogs()">
                        <span class="fa fa-times-circle fa-md"></span> Clear
                    </button>
                </div>
            </div>
        </div>
        <table class="table logs">
            <thead>
                <tr>
                    <th class="col-md-1">level</th>
                    <th class="col-md-6">message</th>
                    <th class="col-md-3">user</th>
                    <th class="col-md-2">date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="logItem in logs | filter:searchQuery | filter:searchSeverity.id | isAfter:searchDate.id track by logItem.id">
                    <td>{{::logItem.level}}</td>
                    <td>{{::logItem.message}}</td>
                    <td>{{::logItem.meta.email}}</td>
                    <td>{{::logItem.timestamp | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
