<div class="row" ng-if="session.role == 'ISA'">
    <form name="userForm">
        <div class="col-xs-2">
            <input  type="text"
                    class="form-control"
                    id="user-first-name"
                    placeholder="First name"
                    ng-model="newUser.firstName">
        </div>
        <div class="col-xs-2">
            <input  type="text"
                    class="form-control"
                    id="user-last-name"
                    placeholder="Last name"
                    ng-model="newUser.lastName">
        </div>
        <div class="col-xs-2">
            <input  type="text"
                    name="number"
                    class="form-control"
                    id="user-contact-number"
                    placeholder=" (555) 555-5555"
                    ng-model="newUser.contactNumber">
        </div>
        <div class="col-xs-3">
            <input  type="email"
                    class="form-control"
                    id="user-email"
                    placeholder="Email"
                    ng-model="newUser.email"
                    ng-required="true">
        </div>
        <div class="col-xs-1">
            <select name="roleSelector" class="form-control input-md ng-valid-required" data-ng-options="role.name for role in ROLES" data-ng-model="newUser.role" required>
              <option value="" disabled>Select role</option>
            </select>
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-success btn-user-action" ng-click="submitCreate()" ng-disabled="userForm.roleSelector.$error.required" >
                <span class="fa fa-check fa-sm"> Add</span>
            </button>
            <button type="button" class="btn btn-danger btn-sm btn-user-action" ng-click="cancelForm()">
                <span class="fa fa-remove fa-sm"></span>
            </button>
        </div>
    </form>
</div>
