<div class="row" ng-if="session.role == 'ISA'">
    <div class="col-md-12">

        <div class="row">
            <div class="col-sm-3">
                <form name="search-users">
                    <input type="search" class="form-control" ng-model="searchQuery" id="search-users" placeholder="Search...">
                </form>
            </div>
            <div class="col-sm-9">
                <div class="add-user pull-right" ng-hide="isAddingUser">
                    <button type="button" class="btn btn-success btn-user-add" ng-click="AddingUser()">
                        <span class="fa fa-plus fa-md"></span> Add User
                    </button>
                </div>
            </div>
        </div>

        <ul class="user-list">
            <li>
                <div class="row user-list-header">
                    <div class="col-xs-2"><strong>First Name</strong></div>
                    <div class="col-xs-2"><strong>Last Name</strong></div>
                    <div class="col-xs-2"><strong>Contact Number</strong></div>
                    <div class="col-xs-3"><strong>Email</strong></div>
                    <div class="col-xs-1"><strong>Role</strong></div>
                    <div class="col-xs-2"></div>
                </div>
            </li>
            <li user-list-item ng-repeat="user in users | filter:searchQuery"></li>
            <li class="user-list-item" user-create-form
                ng-show="isAddingUser"></li>
        </ul>

    </div>
</div>
