<div class="row user-list-item" ng-if="session.role == 'ISA'">
    <!-- First Name -->
    <div class="col-xs-2" ng-hide="isEditing(user.id)">{{user.firstName}}</div>
    <div class="col-xs-2" ng-show="isEditing(user.id)">
        <input  type="text"
            class="form-control"
            id="user-first-name"
            placeholder="First name"
            ng-model="editedUser.firstName">
    </div>

    <!-- Last Name -->
    <div class="col-xs-2" ng-hide="isEditing(user.id)">{{user.lastName}}</div>
    <div class="col-xs-2" ng-show="isEditing(user.id)">
        <input  type="text"
                class="form-control"
                id="user-last-name"
                placeholder="Last name"
                ng-model="editedUser.lastName">
    </div>

    <!-- Contact Number -->
    <div class="col-xs-2" ng-hide="isEditing(user.id)">{{user.contactNumber | tel}}</a></div>
    <div class="col-xs-2" ng-show="isEditing(user.id)">
        <input  type="text"
                class="form-control"
                id="user-contact-number"
                placeholder="Number"
                ng-model="editedUser.contactNumber">
    </div>

    <!-- Email -->
    <div class="col-xs-3" ng-hide="isEditing(user.id)"><a href="mailto:{{user.email}}">{{user.email}}</a></div>
    <div class="col-xs-3" ng-show="isEditing(user.id)">
        <input  type="email"
                class="form-control"
                id="user-email"
                placeholder="Email"
                ng-model="editedUser.email"
                ng-required="true">
    </div>

    <!-- Role -->
    <div class="col-xs-1" ng-hide="isEditing(user.id)">
        <div ng-repeat="role in user.roles">
            <span class="label"
                ng-class="{ 'label-primary': role.name == 'ISA',
                            'label-default': role.name !==  'ISA'}">
                {{role.name}}
            </span>
        </div>
    </div>
    <div class="col-xs-1" ng-show="isEditing(user.id)">
        <select class="form-control" ng-options="role.name for role in ROLES" ng-model="editedUser.role">
          <option value="" disabled>Select role</option>
        </select>
    </div>

    <!-- Form Actions -->
    <div class="col-xs-2" ng-hide="isEditing(user.id)">
        <div class="btn-group user-dropdown" dropdown>
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdown-toggle data-toggle="dropdown">
                Actions <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href ng-click="grantTeamSeason(user)">
                        <span class="fa fa-plus fa-sm"></span> Add a Team-Season
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href ng-click="toggleEdit(user)"><span class="fa fa-pencil fa-sm"></span> Edit</a>
                </li>
                <li>
                    <a href ng-click="delete(user)"><span class="fa fa-trash fa-sm"></span> Delete</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-2" ng-show="isEditing(user.id)">
        <button type="submit" class="btn btn-success btn-user-action" ng-click="submitEdit(user)">
            <span class="fa fa-check fa-sm"> Save</span>
        </button>
        <button type="button" class="btn btn-danger btn-sm btn-user-action" ng-click="cancelEdit()">
            <span class="fa fa-remove fa-sm"></span>
        </button>
    </div>
</div><!--.row.user-->

<ul ng-if="user.teamSeasons.length > 0" class="user-team-seasons">

  <accordion>
    <accordion-group is-open="status.open">
    <accordion-heading>
      <li class="row user-team-season user-team-season-header">
          <div class="col-xs-10"><strong>Team Seasons &nbsp;<i class="" ng-class="{'fa fa-chevron-down': status.open, 'fa fa-chevron-right': !status.open}"></i></strong></div>
          <div class="col-xs-2">
          </div>
      </li>
    </accordion-heading>
      <li ng-repeat="teamSeason in user.teamSeasons" class="row user-team-season">
          <div class="col-xs-9">{{teamSeason.name}}</div>
          <div class="col-xs-1">{{teamSeason.userRoles.name}}</div>
          <div class="col-xs-2">
              <div class="btn-group user-team-season-dropdown" dropdown>
                  <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle data-toggle="dropdown">
                      Actions <span class="caret"></span>
                  </button>

                  <ul class="dropdown-menu" role="menu">
                      <li>
                          <a href ng-click="revokeTeamSeason(user.id, teamSeason.id)"><span class="fa fa-lock fa-sm"></span> Revoke Access</a>
                      </li>
                  </ul>
              </div>
          </div>
      </li>
    </accordion-group>
  </accordion>
</ul>
