// Bower dependencies
@import "bootstrap/less/bootstrap.less";
@import "components-font-awesome/less/font-awesome.less";
@import "animate.css";

// App dependencies
@import "theme/bootswatch.less";
@import "theme/variables.less";
@import "elements.less";
@import "common.less";
@import "users.less";
@import "teams.less";
@import "reports.less";

/**
 * DOM styles
 */

/* no browser borders around our links and buttons */
button:focus { outline: 0 !important; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

::-moz-placeholder, ::-moz-placeholder, ::-ms-input-placeholder { /* WebKit browsers */
    opacity:  1;
}

html, body {
    height: 100%;
}

body {
    font: 14px "Open Sans", arial;
    .radial-gradient();
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a {
    cursor: pointer;
    .transition(0.15s);
}

button, input {
    .transition(0.15s);
}

a.highlighted-link {
  color: white;
  text-decoration: underline;
}

// Set all IE select boxes background color since the global font color
// for the site is white and it's not visible using IE's default selectbox
// background-color
.ie select {
  background-color: black;
  text-shadow: none;
}

.ie select option:disabled, .ie select option[disabled] {
  text-shadow: none !important;
}

/**
 * Application global styles
 */

// Add some space between the labels and icons in the navbar
.site-header.navbar {
    .fa-lg { margin-right: 12px; }
    .fa-sm { margin-right: 8px; }
}

.site-content {
    margin-bottom: 45px;
}

// Use a wrapper to push the footer down
.application-wrapper {
    min-height: 100%;
    height: auto;
    // Negative indent footer by its height
    margin: 0 auto -@footer-height;
    // Pad bottom by footer height
    padding: 0 0 @footer-height;
}

.application-footer {
    text-align: center;
    padding: 15px 0;  margin: 0;
    height: @footer-height;
    font-size: 12px;

    .actions {
      margin: 0; padding: 0;
      list-style: none;
      margin-left: 15px;
      float: left;

      li {
        margin: 0; padding: 0;
        margin-right: 10px;
        float: left;

        .copyright {
            font-size: 12px;
            color: @gray-light;
        }

        a {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      li.separator {
        color: @gray;
      }
    }
}

// Login screen
.page-login {
    .login-box {
        margin: auto;
        position: absolute;
        width: 380px;
        height: 150px;
        top: 50%; left: 50%;
        margin-left: -165px;
        margin-top: -90px;

        .actions {
          .info-link {
            position: relative;
            top: 15px;
            left: 15px;
            color: white;
            text-decoration: underline;

            .transition(0.15s);

            &:hover {
              color: @gray-lighter;
              text-decoration: none;
            }
          }
        }
    }

    .btn-google-login {
        @google-color: #dd4b39;

        margin-top: 25px;
        background-color: @google-color;
        color: #FFF;
        font-weight: 600;
        font-size: 14px;
        font-family: 'Open Sans';
        border: none;
        border-top: 1px solid lighten(@google-color, 15%);
        text-shadow: 1px 1px 0 darken(@google-color, 15%);
        .transition(0.15s);

        .fa {
            font-size: 18px;
            position: relative;
            top: 1px;
        }

        &:hover {
            border-top: 1px solid lighten(@google-color, 5%);
            background-color: desaturate(darken(@google-color, 12%), 10%);
        }
    }
}

/**
 * Tablet/small styles
 */

@media (min-width: @screen-sm-min) and (max-width: @screen-md-min) {

}

/**
 * Tablet/medium styles
 */
@media (min-width: @screen-md-min) and (max-width: @screen-lg-min) {

}

/**
 * Desktop/large styles
 */
@media (min-width: @screen-lg-min) {

}
