/**
 * Paths
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts";

/**
 * Variables & Bootstrap overrides
 */
@footer-height: 50px;
@btn-default-bg: #6e6e6e;

/**
 * Mixins
 */
.radial-gradient(@outer: #0F1010, @inner: #313032) {
    // Fallback
    background-color: @outer;
    // Safari 4-5, Chrome 1-9
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(@inner), to(@outer));
    // Safari 5.1+, Chrome 10+
    background: -webkit-radial-gradient(circle, @inner, @outer);
    // Firefox 3.6+
    background: -moz-radial-gradient(circle, @inner, @outer);
    // IE 10
    background: -ms-radial-gradient(circle, @inner, @outer);
}

/**
 * Form Controls
 */

// Buttons

button, .btn, .btn-success, .btn-danger, .btn-warning, .btn-default, .btn-primary {
    background: none;
    border-width: 2px;
    cursor: pointer;
    .rounded(5px);
}

.btn-success { color: @brand-success; }
.btn-primary { color: lighten(@brand-primary, 5%); }
.btn-default { color: lighten(@btn-default-bg, 5%); }
.btn-danger {
    background-color: darken(@brand-danger, 3%);
    border-color: darken(@brand-danger, 3%);
    color: #FFF;


    &:hover {
        background-color: desaturate(darken(@brand-danger, 12%), 12%);
        border-color: desaturate(darken(@brand-danger, 12%), 12%);
    }
}

.btn.active, .btn:active {
    .box-shadow(none);
}

// Form controls

.form-control {
    color: #222;
    border: none;

    &:hover {
        border-color: #EEE;
    }

    &:focus {
        color: #FFF;
        background-color: #444;
        border-color: #444;
        .box-shadow(none);
    }
}

select.form-control, input.form-control {
    background: none;
    color: @text-color;
    border: 2px solid @gray;
    .transition(0.15s);
}

/**
 * Framework
 */

// Navigation

.navbar-default {
    border-left: none;
    border-right: none;
    border-top: none;
    .rounded(0);
    .radial-gradient(#0C0C0C, #202020)
}

.navbar-header{
  img{
    width: 80px;
    height: 80px;
    margin-top: -10px;
  }
}

.navbar-footer {
    border-top: 1px solid @navbar-default-border;
    border-bottom: none;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 55px;
    height: 60px;
    padding-top: 1px;
}

.navbar-nav .dropdown-menu li a {
    line-height: 30px;
    height: 30px;
    padding-top: 1px;
}

.navbar-collapse {
    border-top: none;
}

// Alerts

.alert {
    background: none;
    border-width: 2px;

    .close {
        color: #FFF;
        text-shadow: none;
    }
}

.alert-danger { color: @brand-danger; }
.alert-success { color: @brand-success; }
.alert-info { color: @brand-info; }
.alert-warning { color: @brand-warning; }

// Tables

table.table>tbody>tr>td { vertical-align: middle; }

.table {
    color: white;
    background: none;
    border-color: white;
}

.table a {
    color: #BBB;
    &:hover {
        text-decoration: none;
    }
}
