/**
 * Reports Page
 */
.page-reports {

    @renderer-width: 650px;
    @renderer-height: 277px;

    .no-results {
        margin-top: 25px;
    }

    // Defensive/neutral/offensive labels
    #rink-legend {
        width: @renderer-width;
        margin-bottom: 15px;
    }

    // Rink display for events report
    #rink {
        width: @renderer-width;
        height: @renderer-height;
        margin-bottom: 30px;
        opacity: 0.7;
        z-index: 10;
    }

    // All canvases (except for faceoff chart canvases)
    #renderer, #heatmap, #faceoff-display {
        position: absolute;
        width: @renderer-width;
        height: @renderer-height;
        z-index: 100;

        .rounded(55px);
    }

    // Face-off chart canvases
    #faceoff-display {
        .dot-team {
            z-index: 50;
            margin-left: 110px;
            margin-top: 21px;
        }

        .dot-opposition {
            z-index: 0;
        }

        .dot-team.demo {
          margin-left: 90px;
          margin-top: 1px;
        }

        // Face-off legend (overlaid numbers)
        .dot-legend {
            z-index: 100;
            font-size: 20px;
            width: 80px;
            padding-top: 25px;
            color: #FFF;
            text-shadow: 0 1px 4px #000;
            text-align: center;
        }

        .dot {
            position: absolute;
            float: left;
        }

        // Left column
        .dot-1 { left: -48px; top: 8px; }
        .dot-2 { left: -48px; top: 148px; }

        // Middle left
        .dot-3 { left: 75px; top: 8px; }
        .dot-4 { left: 75px; top: 148px; }

        // Center ice
        .dot-5 { left: 176px; top: 80px; }

        // Middle right
        .dot-6 { left: 275px; top: 8px; }
        .dot-7 { left: 275px; top: 148px; }

        // Right column
        .dot-8 { left: 398px; top: 8px; }
        .dot-9 { left: 398px; top: 148px; }

    }

    #faceoff-display.demo {
      .dot-opposition { display: none; }
    }

    .faceoff-legend{
        width: @renderer-width;
        margin-bottom: 30px;
        margin-top: -10px;
        table{
          background-color: transparent;
              tr{
                height: 20px;
              }
              td {
                padding-left: 10px;
                margin-right: 10px;
                text-align: left !important;
                &:first-child  { padding-left: 20px; padding-right: 30px; }
                &:nth-child(2) { width: 20px; background-color: #185ed8;}
                &:nth-child(3) { padding-right: 30px; }
                &:nth-child(4) { width: 20px; background-color: #555;}
                &:nth-child(5) { padding-right: 30px; }
                &:nth-child(6) { width: 20px; background-color: #fff;}
                &:nth-child(7) { padding-right: 60px; }
                &:nth-child(8) { padding-right: 30px; }
                &:nth-child(9) { width: 20px; background-color: #5ed025;}
                &:nth-child(10) { padding-right: 30px; }
                &:nth-child(11) { width: 20px; background-color: #ffffff;}

                background-clip: padding-box; /* this has been added */
                border-radius: 5px;
            }
        }

        .demo {
          visibility: hidden;
        }
    }

    // Heatmap canvas
    #heatmap {
        .opacity(0.6);
    }

    // Event filtering buttons (block/shot/goal/miss)
    .btn-group-filter-rink-events {
        margin-bottom: 25px;
        margin-top: -10px;

        .fa { margin-right: 5px; }
    }

    /**
     * Sidebar
     */
    .sidebar {
        text-align: right;
        padding-right: 45px;
        overflow: hidden;

        .btn-group { margin-bottom: 15px; }
        select.form-control { margin-bottom: 15px; }

        label.filter-label {
            color: white;
            margin-left: 5px;
            font-size: 12px;
        }

        button.btn-hide, button.btn-show {
            float: right;
            margin-bottom: 25px;
            padding: 8px 11px 6px 10px;
            display: block;

            .rounded(25px);

            &:hover {
                background: none;
                border-color: #EEE;
                color: #EEE;
            }
        }

        button.btn-show {
            padding: 8px 9px 6px 13px;
        }

        select.multi-select {
          height: 150px;
          list-style: none;
        }

        select.single-select {
          height: 38px;
          list-style: none;
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
          #selectGames{
            height: auto;
          }
        }
    }

    /**
     * Report
     */
    .report {
        h5, h6 {
            margin-left: 10px;
            margin-bottom: 20px;
        }

        .scrollable {
            overflow-x: scroll;
        }

        .fixedFirstColumn {
          margin-left: 175px;
        }

        .fixed-column {
            position: absolute;
            width: 175px;
            left: 16px;
            border-right: 1px solid #555;
        }

        .table{
          tbody{
            -webkit-font-smoothing: antialiased;
            tr{
              &:first-child td{ border-top: 0px; }
              &:last-child td { text-align:center}
              &:last-child { border-bottom: 0px !important;}
              td{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                span{
                  margin-right: 5px;
                }
              }
              td.fixed-column {
                text-align: left;
              }
            }
          }
        }

        .table-report {
            table-layout: fixed;
            thead{
              tr{

                  &:first-child th{
                    text-align: center;
                    border-bottom: 0px;
                    // Player name
                    &:first-child { width: 176px; margin-top: 29px; margin-left: -1px; border-bottom: 2px solid #555;}
                    // Games played
                    &:nth-child(2) { width: 120px; border-bottom: 2px solid #555;}
                    //Points
                    &:nth-child(3) { width: 225px;}
                    //+/-
                    &:nth-child(4) { width: 75px; border-bottom: 2px solid #555; }
                    //Face-Offs
                    &:nth-child(5) { width: 375px; }
                    //Shots
                    &:nth-child(6) { width: 375px; }
                    //Face-Offs (demo)
                    &:nth-child(5).demo { width: 300px; }
                    //Shots (demo)
                    &:nth-child(6).demo { width: 225px; }
                    //Custom
                    &:nth-child(7) { width: 1650px; }
                  }
                  &:nth-child(2) th{
                    text-align: center;
                    width: 75px;
                    border-bottom: 2px solid #555;
                    //Goal
                    &:nth-child(2) { border-left: 1px solid #555; }
                    //Points Total
                    &:nth-child(4) { border-right: 1px solid #555; }
                    //+/-
                    &:nth-child(5) { border-left: 1px solid #555; }
                    //Poss
                    &:nth-child(9) { border-right: 1px solid #555; }
                    // Shots Total
                    &:nth-child(14) { border-right: 1px solid #555;  }
                    // Give-away
                    &:nth-child(15) { width: 100px; }
                    // Take away
                    &:nth-child(16) { width: 100px; }
                    // Midlane drive
                    &:nth-child(22) { width: 140px; }
                    //2ndPuck(+)
                    &:nth-child(23) { width: 100px; }
                    //2ndPuck(-)
                    &:nth-child(24) { width: 100px; }
                    //Blueline(+)
                    &:nth-child(25) { width: 100px; }
                    //Blueline(-)
                    &:nth-child(26) { width: 100px; }
                    //Pass (+)
                    &:nth-child(27) { width: 100px; }
                    //Pass (-)
                    &:nth-child(28) { width: 100px; }
                    //Penalty (taken)
                    &:nth-child(29) { width: 140px; }
                    //Penalty (drawn)
                    &:nth-child(30) { width: 140px; border-right: 1px solid #555; }
                }
              }
            }
            tbody{
              tr{
                &:last-child td{ text-align:center; border-bottom: 0px !important;}
                border-bottom: 1px solid #555 !important;
                td {
                  &:nth-child(2) td {width: 120px;}
                  &:nth-child(3) { border-left: 1px solid #555; }
                  &:nth-child(5) { border-right: 1px solid #555;  }
                  &:nth-child(6) { border-right: 1px solid #555;  }
                  &:nth-child(11) { border-right: 1px solid #555;  }
                  &:nth-child(16) { border-right: 1px solid #555;  }
                  &:nth-child(32) { border-right: 1px solid #555;  }
                  border-top: 0px !important; margin-top: 0px !important;
                    td{
                      text-align: center;
                      width: 75px;
                      border-top: 0px !important; margin-top: 0px !important;

                    }
                  }
                  &:last-child{ text-align:center; }
              }
            }
            .fixed-column{
              border-bottom: 1px solid #555;
            }
        }

        .table-report.demo {
          thead tr:nth-child(2) th:nth-child(9) {
            border-right: none;
          }

          thead tr:nth-child(2) th:nth-child(8) {
            border-right: 1px solid #555;
          }

          thead tr:nth-child(2) th:nth-child(11) {
            border-right: 1px solid #555;
          }

          tbody tr td:nth-child(11) {
            border-right: none;
          }

          tbody tr td:nth-child(10) {
            border-right: 1px solid #555;
          }

          tbody tr td:nth-child(13) {
            border-right: 1px solid #555;
          }
        }

        .table-goalie{
          tr{
            &:first-child td { border-top: 0px !important;}
          }
          td{
            text-align: left !important;
            &:last-child td { text-align:center !important;}
          }
        }

        .table-events {
            table-layout: fixed;
            thead{
              tr{
                border-bottom: 2px solid #555;
                th{
                    text-align: center;
                    width:75px;
                    &:first-child {width:175px !important; margin-top: 0px;}
                }
              }
            }
            tbody{
              tr{
                height: 29px;
                border-bottom: 1px solid #555;
                &:last-child { border-bottom: 0px !important;}
                &:last-child td { text-align:center !important; border-bottom: 0px !important;}

                td {
                  border-bottom: 1px solid #555;
                  border-top: 0px;
                  text-align:center;
                }
              }
            }
          }

        .table-faceoffs {

            thead{
              tr{
                th {
                    text-align: center;
                    width: 20%;
                    &:first-child {width:175px !important; margin-top: 0px;}
                  }
              }
            }
            tbody{
              tr{
                &:last-child td { text-align:center !important; border-bottom: 0px !important;}

                td {
                    td {
                        text-align: center;
                        width: 1%;
                        border-bottom: 0px;
                    }
                }
              }
           }
        }

        table.table-events tbody tr, table.table-faceoffs tbody tr {
            cursor: pointer;
        }

        table.table-events tbody tr.active, table.table-events tbody tr:hover,
        table.table-faceoffs tbody tr.active, table.table-faceoffs tbody tr:hover {
                background-color: #eee;
                color: #000;
                font-weight: 600;

                td { background-color: #eee; }
        }

        // row padding
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
            padding: 4px;
        }
    }
}
