/**
 * Team List Page
 */
.page-teams {

    a { text-decoration: none; }

    form.search-teams {
        margin-bottom: 25px;
    }

    ul.teams, ul.team-seasons {
        list-style: none;
        padding: 0;
    }

    ul.teams {
        .team-dropdown button, .team-season-dropdown button {
            float: right;
            clear: both;
        }

        .free-trial-label, .team-season-dropdown {
          clear: both;
        }

        .free-trial-label {
          margin-bottom: 5px;

          .fa {
            margin-right: 3px;
          }
        }

        li.header{
          border-bottom: solid 1px @navbar-default-border;
          padding-bottom: 5px;
        }

        li {

            div.team {
                margin-top: 30px;
            }

            img.team-icon {
                display: block;
                max-width: 50px;
                max-height: 40px;
                width: auto;
                height: auto;
                margin: 0 auto;
            }

            ul.team-seasons {

                li.team-season {
                  margin-top: 4px;
                  margin-bottom: 4px;
                  border-bottom: solid 1px @navbar-default-border;
                  padding-bottom: 10px;
                  padding-top: 5px;

                  span{
                    line-height: 2;
                  }

                    strong {
                        color: #eee;
                    }
                }
            }
        }//li
    }//ul

    .modal-select-seasons {
        ul {
            list-style: none;
            padding: 0;

            a.active {
                color: #78e627;
            }

            li {
                width: 100%;
                padding: 8px;
                border-bottom: 1px solid @gray-dark;
            }
        }
    }

    .modal-file-upload {
        .progressbar {
            margin-top: 25px;
        }
    }

}

/**
 * Team/Season Create and Edit Pages
 */
.page-team-create, .page-team-edit, .page-season-create, .page-season-edit {

    h3 { margin-bottom: 30px; }
    button[type="submit"] { margin-top: 15px; }

}

.page-team-create{

  ul.player-list{
    list-style-type: none;
    li.player-header{
      margin-left: -30px;
      height: 35px;
    }
    li{
      margin-left: -30px;
      height: 40px;
    }
  }

  // Subscription section/heading
  div.row.subscription {
    margin-top: 15px;
    strong {
      color: white;
    }
  }

  .subscription-type-container {
    h4.title {
      margin-top: 35px;
    }
  }

  .season-container {
    .length {
      margin: 5px;
      color: #999;
    }
  }

  /**
   * Product/Subscription Dialog
   */
  ul.subscription-types {
    list-style: none;
    margin: 0; padding: 0;
    margin-left: 15px;

    li {
      margin: 0;
      margin-right: 15px;
      margin-top: 25px;
      padding: 0;

      input {
        opacity: 0;
        outline: none;
        height: 0;
        display: none;
      }

      input:checked+label {
        border: 2px solid @brand-success;
        .rounded(4px);

        .heading h2 {
          color: @brand-success;
        }

        .heading h3 {
          color: white;
        }

        .price {
          opacity: 1;
        }
      }

      label {
        width: 100%;
        cursor: pointer;
        padding: 13px 18px;
        border: 2px solid @gray;
        .transition(0.15s);
        .rounded(4px);

        &:hover {
          border: 2px solid @gray-light;

          .price {
            opacity: 1;
          }
        }

        .heading {
          h2 {
            margin-top: 0;
            font-size: 22px;
            color: @gray-lighter;
          }

          h3 {
            margin-top: 0;
            font-size: 18px;
            margin-bottom: 15px;
            color: @gray-light;
          }

          i.fa {
            margin-left: 5px;
            font-size-: 14px;
            color: @gray;
          }
        }

        .price {
          margin-top: 30px;
          margin-bottom: 30px;
          opacity: 0.5;
          .transition(0.2s);

          .original-amount, .discount {
            text-align: left;
            font-weight: 300;

            @media screen and (min-width: 480px) {
              text-align: center;
            }
          }

          .original-amount {
            color: #656565;
          }

          .discount {
            color: #548A2C;
          }

          .amount {
            font-size: 38px;
            font-weight: 300;
            text-align: left;

            @media screen and (min-width: 480px) {
              text-align: center;
            }

            .dollar-sign {
              vertical-align: super;
              font-size: 30px;
            }

            .length {
              vertical-align: baseline;
              font-size: 18px;
            }
          }
        }

        .season {
          margin-bottom: 20px;

          label.season-label {
            border: none;
            padding: 0; margin: 5px;
            font-weight: 300;
          }

          span.length {
            font-weight: 300;
            margin: 5px;
            padding-top: 10px;
            color: @gray-light;
          }
        }

        p {
          font-weight: normal;
        }

        .learn-more {
          margin-top: 15px;
        }
      }
    }
  }

  .free-trial {
    margin-top: 25px;

    .form-group label {
      margin-left: 7px;
      font-weight: normal;
    }

    .trial-length {
      color: #888;
    }
  }

  form {
    h4 {
      margin-bottom: 25px;
    }
  }

  .player-list-header{
    margin-left: -5px;
    margin-right: 0px;

    .header-column{
      border-bottom: solid 2px;
      padding-bottom: 5px;
      white-space: nowrap;
    }
  }

  .addPlayersForm{
    margin-top: 15px;
    margin-bottom: 85px;
  }

  .player-row{
    border-bottom: solid 1px;
    height: 30px;
  }

  button[type=submit]{
    margin-top: 0px;
  }

  .btn-success[disabled]{
    background-color: transparent;
    opacity: 0.30;
  }

  .select-season{
    margin-top: -20px;
  }

  .submit-cancel-buttons{
    margin-top: 20px;

    .fa {
      margin-right: 5px;
    }
  }

  .number-members{
    margin-left: 25px;
  }

  .cost-label{
    margin-top: 32px;
  }
}

/**
 * Team Upgrade Page
 */
.page-team-upgrade {
  .review {
    margin-top: 15px;
    margin-bottom: 15px;

    .item {
      width: 100%;
      clear: both;

      label {
        float: left;
        font-weight: normal;
        color: white;
        width: 150px;
      }

      .value {
        float: left;
        width: 250px;
      }
    }

    .discount .value {
      color: #548A2C;
      width: 250px;
      border-bottom: 1px solid #444;
    }
  }

  .btn-success[disabled]{
    background-color: transparent;
    opacity: 0.30;
  }
}

/**
 * Team Detail Page
 */
.page-team-detail {

    .team {
        margin-top: 25px;

        .photo-container {
            img.team-photo {
                display: block;
                max-width: 145px;
                max-height: 108px;
                width: auto;
                height: auto;
                margin: 0 auto;
            }
        }

        .info {
            h3.name { margin-top: 10px; }
            ul.team-actions {
                list-style: none;
                position: relative;
                top: 10px;
                padding: 0;

                li {
                    float: left;
                    margin-right: 15px;
                }
            }
        }
    }

    .seasons {
        margin-top: 30px;

        .season {
            margin-bottom: 15px;

            .info {
                border-bottom: 1px solid @gray-dark;
                padding-bottom: 10px;

                h4.name {
                    font-size: 20px;
                    font-weight: 300;
                }
            }

            .content { margin-top: 15px; }
        }// .season
    }// .seasons

}


.modal-help-plans {
  h4 {
    margin-bottom: 10px;
    text-align: center;
  }

  .plans-table {
    width: 100%;
    background: none;


    tr {
      border-bottom: 1px solid #333;
      color: #999;

      &:last-child {
        border: none;
      }
    }

    th {
      padding-bottom: 10px;

      .plan {
        color: @brand-success;
        font-size: 20px;
        font-weight: 300;
      }

      .tagline {
        color: white;
        font-weight: 300;

        i.fa {
          color: #666;
        }
      }
    }

    .last-in-category {
      border: none;
    }

    .spacer {
      height: 10px;
    }

    .feature-category {
      background-color: #151515 !important;
      font-weight: bold;
      border-bottom: none;
      color: white;
    }

    .indented {
      padding-left: 40px;
    }

    td {
      padding: 4px 8px;
    }
  }
}
/**
 * Tablet/small styles
 */

@media (min-width: @screen-sm-min) and (max-width: @screen-md-min) {

    .page-team-detail .team .info { padding-left: 30px; }

}
