/**
 * User List page
 */
.page-users {

    #search-users {
        margin-bottom: 25px;
    }

    ul.user-list {
        list-style: none;
        padding: 0;

        li .user-list-item, li .user-list-header {
            padding: 12px 12px 7px 12px;
            border-bottom: 1px solid @gray;

            .user-dropdown {
                margin-top: -4px;
            }
        }

        li .user-list-header:first-child { border-bottom: none; }

        li .user-list-header {
            strong { color: white; }
        }
    }

    ul.user-team-seasons {
        list-style: none;
        padding: 0;
        margin-left: -15px;
        padding-left: 25px;
        margin-right: -15px;
        padding-right: 18px;
        border-bottom: 1px solid @gray;

        strong { color: white; }

        li.user-team-season {
            padding: 12px 12px 7px 12px;
        }
    }

    form[name="userForm"] { margin-top: 25px; }

    .modal-select-team-seasons {
        strong { color: white; }

        .select-season { margin-top: 25px; }

        .select-role { margin-bottom: 40px; }

        ul {
            list-style: none;
            padding: 0;

            a { text-decoration: none; }
            .active { color: #78e627; }

            li {
                padding: 8px;
                border-bottom: 1px solid @gray-dark;
            }
        }
    }

    .btn-success[disabled]{
      background-color: transparent;
      opacity: 0.30;
    }
}

.contact-number{

  text-align: center;

  input{
    color: black;
  }

  b{
    color: #fff;
  }
  form{
    margin-left: -20px;
  }
  input{
    margin-bottom: 5px;
  }
  span.error.invalid{
    position: fixed;
    margin-left: -72px;
  }
  span.error.valid{
    position: fixed;
    margin-left: -35px;
  }

  .large-text{
    font-size: 16px;
  }

  .small-text{
    font-size: 12px;
  }

  .btn-success{
    margin-right: 20px;
  }

  .btn-success[disabled]{
    background-color: transparent;
    opacity: 0.30;
  }

  .delete-button{
    margin-top: 100px;
  }

}
.panel-group{
  margin-bottom: 0px;

  .panel-default{
    border-color: transparent;
  }
  .panel{
    background-color: transparent;
  }

  .panel-heading{
    background-color: transparent;
    padding: 0px;

    .panel-title{
      margin-bottom: 4px;
      font-size: 14px;
    }
  }
  .panel-body{
    border-top: solid 1px #343434 !important;

    .user-team-season-dropdown{
      margin-left: 10px;
    }
  }
}
