<div class="row">
    <div class="col-md-12 login-box">
        <h4>Welcome to StatsCloud</h4>
        <p>Ithiam Sports' reporting server designed to provide you with access to all your game results with any browser on any device!</p>

        <div class="actions">
          <a class="btn btn-default btn-google-login btn-lg" ng-click="login()">
              <span class="fa fa-google-plus fa-md"></span> Google+
          </a>

          <a ng-click="help.login()" class="info-link">What Account Can I Use?</a>
        </div>
    </div>
</div>
