<div class="row">
    <label class="filter-label">Display</label>
</div>

<div class="row">
    <div ng-show="filters.report !== 'events'" class="btn-group btn-group-filter-display">
        <label  class="btn btn-success"
                ng-model="filters.display"
                btn-radio="'actual'">
            Actual
        </label>
        <label  class="btn btn-success"
                ng-model="filters.display"
                btn-radio="'percentage'">
            Percentage
        </label>
    </div>

    <div ng-show="filters.report === 'events'" class="btn-group btn-group-filter-display">
        <label  class="btn btn-success"
                ng-model="filters.render"
                btn-radio="'players'">
            Players
        </label>
        <label  class="btn btn-success"
                ng-model="filters.render"
                btn-radio="'intensityPlot'">
            Intensity Plot
        </label>
    </div>
</div>
