<div class="row">
    <label class="filter-label">Report Type</label>
</div>
<div class="row">
    <div class="btn-group btn-group-filter-report">
        <label  class="btn btn-primary"
                ng-model="filters.report"
                btn-radio="'report'">
            Report
        </label>
        <label  class="btn btn-primary"
                ng-model="filters.report"
                btn-radio="'events'">
            Events
        </label>
        <label  class="btn btn-primary"
                ng-model="filters.report"
                btn-radio="'faceOff'">
            Face Off
        </label>
    </div>
</div>
