<div class="row">
    <label class="filter-label">Specialty Team</label>
</div>
<div class="row">
    <div class="btn-group btn-group-filter-specialty">
        <label  class="btn btn-primary"
                ng-model="filters.specialtyTeam"
                btn-radio="'EvenManpower'"
                ng-click="processFilters({ specialtyTeam: 'EvenManpower' })">
            EV
        </label>
        <label  class="btn btn-primary"
                ng-model="filters.specialtyTeam"
                btn-radio="'PowerPlayManpower'"
                ng-click="processFilters({ specialtyTeam: 'PowerPlayManpower' })">
            PP
        </label>
        <label  class="btn btn-primary"
                ng-model="filters.specialtyTeam"
                btn-radio="'ShortHandManpower'"
                ng-click="processFilters({ specialtyTeam: 'ShortHandManpower' })">
            PK
        </label>
        <label  class="btn btn-primary"
                ng-model="filters.specialtyTeam"
                btn-radio="'all'"
                ng-click="processFilters({ specialtyTeam: 'all' })">
            All
        </label>
    </div>
</div>
