<div class="row">
    <label class="filter-label">Period</label>
</div>
<div class="row">
    <div class="btn-group btn-group-filter-period">
        <label  class="btn btn-primary"
                ng-model="filters.period"
                btn-radio="1"
                ng-click="processFilters({ period: 1 })">
            1
        </label>
        <label  class="btn btn-primary"
                ng-model="filters.period"
                btn-radio="2"
                ng-click="processFilters({ period: 2 })">
            2
        </label>
        <label  class="btn btn-primary"
                ng-model="filters.period"
                btn-radio="3"
                ng-click="processFilters({ period: 3 })">
            3
        </label>
        <label  class="btn btn-primary"
                ng-model="filters.period"
                btn-radio="4"
                ng-click="processFilters({ period: 4 })">
            OT
        </label>
        <label  class="btn btn-primary"
                ng-model="filters.period"
                btn-radio="5"
                ng-click="processFilters({ period: 5 })">
            All
        </label>
    </div>
</div>
