<div class="row">
    <button ng-show="sidebarExpanded" class="btn btn-default btn-sm btn-hide" ng-click="toggleSidebar()">
        <span class="fa fa-chevron-left fa-md hidden-sm hidden-xs"></span>
        <span class="fa fa-chevron-up fa-md visible-sm visible-xs"></span>
    </button>

    <button ng-hide="sidebarExpanded" class="btn btn-default btn-sm btn-show" ng-click="toggleSidebar()">
        <span class="fa fa-chevron-right fa-md hidden-sm hidden-xs"></span>
        <span class="fa fa-chevron-down fa-md visible-sm visible-xs"></span>
    </button>
</div>
