<div class="row">
    <label class="filter-label">
        Select your Team
    </label>
</div>
<div class="row">
    <select class="form-control" id="selectTeam" ng-model="indexes.team">
          <option value="" disabled>Select a team...</option>
          <optgroup ng-repeat="teamSeason in teamSeasons" label="{{teamSeason.name}} ({{teamSeason.appTag}})" >
            <option ng-repeat="team in teams" value="{{$index}}" ng-selected="team.uuid === indexes.uuid" ng-if="team.teamSeasonUUID === teamSeason.uuid">
            {{team.name}}
            </option>
          </optgroup>
    </select>
    <label class="filter-label">
        Select your Game(s)
    </label>

    <select class="form-control single-select" ng-change="refreshData()" ng-model="$scope.teams" ng-show="indexes.HP1">
      <option value="" disabled>Select game...</option>
      <option ng-repeat="game in teams[indexes.team].games" value="{{$index}}">{{game.rival}} ({{game.date | date:'MMMM dd, yyyy'}})</option>
    </select>
    <select class="form-control multi-select" ng-change="refreshData()" ng-model="$scope.teams" multiple ng-hide="indexes.HP1">
      <option value="" disabled>Select games...</option>
      <option ng-repeat="game in teams[indexes.team].games" value="{{$index}}">{{game.rival}} ({{game.date | date:'MMMM dd, yyyy'}})</option>
    </select>
</div>
