<div class="contact-number">
    <h3 class="">Welcome to StatsCloud™ by Ithiam Sports</h3>
</div>
<div class="contact-number">
    <p>You are about to register as:&nbsp;  <b class="large-text">{{email}}</b></p>
    <p>To proceed, optionally provide a valid phone number and click Continue.</p>
    <br>

    <form name="phoneNumberForm">
      <i class="fa fa-phone fa-lg"></i> &nbsp;

      <input type="text"
             name="input"
             ng-model="contactNumber.value"
             ng-pattern="contactNumber.valid"
             required
             placeholder=" (555) 555-5555"/>
      <br>
      <span class="error invalid" ng-show="phoneNumberForm.input.$error.pattern"> &nbsp; <i class="fa fa-close fa-lg text-danger"></i> Not a valid number.</span>
      <span class="error valid" ng-show="phoneNumberForm.$valid"> &nbsp; <i class="fa fa-check fa-lg text-success"></i> Valid!</span>
    </form>

    <br><br>

    <button class="btn btn-success" ng-click="continue()" ng-disabled="phoneNumberForm.$invalid && !phoneNumberForm.input.$error.required">Continue</button>
    <button class="btn btn-default" ng-click="deleteAcc(); logout()">Go Back</button>

    <br><br><br>

    <p>If this is not your correct account, or you do not wish to register at this time,
    please click Go Back to return to the Sign In screen.</p>
</div>
