<div class="btn-group btn-group-filter-rink-events">
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events.Goal"
            btn-checkbox
            ng-click="processFilters()"
            style="border-radius: 0;">
        <span class="fa fa-bullseye fa-lg" style="color: #33cc00;"></span> Goal
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events.Save"
            btn-checkbox
            ng-click="processFilters()"
            style="border-radius: 0;">
        <span class="fa fa-dot-circle-o fa-lg" style="color: #33cc00;"></span> Shot
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events.Miss"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-circle-o fa-lg" style="color: #0C39CA;"></span> Miss
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events.Blocked"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-circle fa-lg" style="color: #0C39CA;"></span> Block
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Give-Away']"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-sign-out fa-lg" style="color: #E80000;"></span> Give-Away
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Take-Away']"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-sign-in fa-lg" style="color: #33cc00;"></span> Take-Away
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Hit']"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-star fa-lg" style="color: #6B048E;"></span> Hit
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Fly-By']"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-star-o fa-lg" style="color: #6B048E;"></span> Fly-By
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Defensive Block']"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-times-circle fa-lg" style="color: #0C39CA;"></span> D. Block
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Battle (+)']"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-plus-square fa-lg" style="color: #33cc00;"></span> Battle (+)
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Battle (-)']"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-minus-square fa-lg" style="color: #E80000;"></span> Battle (-)
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Mid-Lane Drive']"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-reply fa-lg" style="color: yellow;"></span> Mid-Lane Drive
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['2ndPuck(+)']"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-search-plus fa-lg" style="color: #33cc00;"></span> 2ndPuck (+)
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['2ndPuck(-)']"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-search-minus fa-lg" style="color: #E80000;"></span> 2ndPuck (-)
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Blueline (+)']"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-plus fa-lg" style="color: #33cc00;"></span> Blueline (+)
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Blueline (-)']"
            btn-checkbox
            ng-click="processFilters()"
            ng-if="!indexes.HP1">
        <span class="fa fa-minus fa-lg" style="color: #E80000;"></span> Blueline (-)
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Pass (+)']"
            btn-checkbox
            ng-click="processFilters()"
            style="border-radius: 0;"
            ng-if="!indexes.HP1">
        <span class="fa fa-arrows-alt fa-lg" style="color: #2FC605;"></span> Pass (+)
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Pass (-)']"
            btn-checkbox
            ng-click="processFilters()"
            style="border-radius: 0;"
            ng-if="!indexes.HP1">
        <span class="fa fa-arrows-alt fa-lg" style="color: #DF0003;"></span> Pass (-)
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Penalty (taken)']"
            btn-checkbox
            ng-click="processFilters()"
            style="border-radius: 0;"
            ng-if="!indexes.HP1">
        <span class="fa fa-gavel fa-lg" style="color: #DF0003;"></span> Pen. (taken)
    </label>
    <label  class="btn btn-default ng-hide"
            ng-model="filters.events['Penalty (drawn)']"
            btn-checkbox
            ng-click="processFilters()"
            style="border-radius: 0;"
            ng-if="!indexes.HP1">
        <span class="fa fa-gavel fa-lg" style="color: #2FC605;"></span> Pen. (drawn)
    </label>
</div>

<div class="scrollable fixedFirstColumn">
    <table id="event-table" class="table table-events">
        <thead>
            <th class="fixed-column" id='Player'>Player</th>
            <th id='Goal' ng-show="filters.events.Goal" style="width: 75px;">Goal</th>
            <th id='Save' ng-show="filters.events.Save">Shot</th>
            <th id='Miss' ng-show="filters.events.Miss" ng-if="!indexes.HP1">Miss</th>
            <th id='Blocked' ng-show="filters.events.Blocked" ng-if="!indexes.HP1">Block</th>
            <th id='Give-Away' ng-show="filters.events['Give-Away']" style="width: 85px;" ng-if="!indexes.HP1">Give-Away</th>
            <th id='Take-Away' ng-show="filters.events['Take-Away']" style="width: 85px;" ng-if="!indexes.HP1">Take-Away</th>
            <th id='Hit' ng-show="filters.events['Hit']" ng-if="!indexes.HP1">Hit</th>
            <th id='Fly-By' ng-show="filters.events['Fly-By']" ng-if="!indexes.HP1">Fly-By</th>
            <th id='Defensive Block' ng-show="filters.events['Defensive Block']" ng-if="!indexes.HP1">D. Block</th>
            <th id='Battle (+)' ng-show="filters.events['Battle (+)']" style="width: 80px;" ng-if="!indexes.HP1">Battle (+)</th>
            <th id='Battle (-)' ng-show="filters.events['Battle (-)']" style="width: 80px;" ng-if="!indexes.HP1">Battle (-)</th>
            <th id='Mid-Lane Drive' ng-show="filters.events['Mid-Lane Drive']" style="width: 115px;" ng-if="!indexes.HP1">Mid Lane Drive</th>
            <th id='2ndPuck(+)' ng-show="filters.events['2ndPuck(+)']" style="width: 95px;" ng-if="!indexes.HP1">2ndPuck (+)</th>
            <th id='2ndPuck(-)' ng-show="filters.events['2ndPuck(-)']"style="width: 95px;" ng-if="!indexes.HP1">2ndPuck (-)</th>
            <th id='Blueline (+)' ng-show="filters.events['Blueline (+)']" style="width: 90px;" ng-if="!indexes.HP1">Blueline (+)</th>
            <th id='Blueline (-)' ng-show="filters.events['Blueline (-)']" style="width: 90px;" ng-if="!indexes.HP1">Blueline (-)</th>
            <th id='Pass (+)' ng-show="filters.events['Pass (+)']" ng-if="!indexes.HP1">Pass (+)</th>
            <th id='Pass (-)' ng-show="filters.events['Pass (-)']" ng-if="!indexes.HP1">Pass (-)</th>
            <th id='Penalty (taken)' ng-show="filters.events['Penalty (taken)']" style="width: 100px;" ng-if="!indexes.HP1">Pen. (taken)</th>
            <th id='Penalty (drawn)' ng-show="filters.events['Penalty (drawn)']" style="width: 100px;" ng-if="!indexes.HP1">Pen. (drawn)</th>
        </thead>
        <tbody>
            <tr ng-repeat="player in report.players | orderBy: 'name' | filter: { position: '!Goalie' }" ng-click="togglePlayerSelection(player)" ng-class="{'active': player == filters.player }">
                <td class="fixed-column"><span ng-show="indexes.games.length == 1" class="label label-primary player-number">{{player.jerseynumber}}</span> {{player.name}}</td>
                <td ng-show="filters.events.Goal">{{player.periods[filters.period - 1].shots.goal}}</td>
                <td ng-show="filters.events.Save">{{player.periods[filters.period - 1].shots.shot}}</td>
                <td ng-show="filters.events.Miss" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].shots.miss}}</td>
                <td ng-show="filters.events.Blocked" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].shots.block}}</td>
                <td ng-show="filters.events['Give-Away']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Give-Away']}}</td>
                <td ng-show="filters.events['Take-Away']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Take-Away']}}</td>
                <td ng-show="filters.events['Hit']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Hit']}}</td>
                <td ng-show="filters.events['Fly-By']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Fly-By']}}</td>
                <td ng-show="filters.events['Defensive Block']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Defensive Block']}}</td>
                <td ng-show="filters.events['Battle (+)']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Battle (+)']}}</td>
                <td ng-show="filters.events['Battle (-)']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Battle (-)']}}</td>
                <td ng-show="filters.events['Mid-Lane Drive']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Mid-Lane Drive']}}</td>
                <td ng-show="filters.events['2ndPuck(+)']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['2ndPuck(+)']}}</td>
                <td ng-show="filters.events['2ndPuck(-)']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['2ndPuck(-)']}}</td>
                <td ng-show="filters.events['Blueline (+)']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Blueline (+)']}}</td>
                <td ng-show="filters.events['Blueline (-)']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Blueline (-)']}}</td>
                <td ng-show="filters.events['Pass (+)']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Pass (+)']}}</td>
                <td ng-show="filters.events['Pass (-)']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Pass (-)']}}</td>
                <td ng-show="filters.events['Penalty (taken)']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Penalty (taken)']}}</td>
                <td ng-show="filters.events['Penalty (drawn)']" ng-if="!indexes.HP1">{{player.periods[filters.period - 1].custom['Penalty (drawn)']}}</td>
            </tr>
            <tr class="totals">
                <td class="fixed-column"><strong>Total</strong></td>
                <td ng-show="filters.events.Goal">{{report.totals.players.shots.goal}}</td>
                <td ng-show="filters.events.Save">{{report.totals.players.shots.shot}}</td>
                <td ng-show="filters.events.Miss" ng-if="!indexes.HP1">{{report.totals.players.shots.miss}}</td>
                <td ng-show="filters.events.Blocked" ng-if="!indexes.HP1">{{report.totals.players.shots.block}}</td>
                <td ng-show="filters.events['Give-Away']" ng-if="!indexes.HP1">{{report.totals.players.custom['Give-Away']}}</td>
                <td ng-show="filters.events['Take-Away']" ng-if="!indexes.HP1">{{report.totals.players.custom['Take-Away']}}</td>
                <td ng-show="filters.events['Hit']" ng-if="!indexes.HP1">{{report.totals.players.custom['Hit']}}</td>
                <td ng-show="filters.events['Fly-By']" ng-if="!indexes.HP1">{{report.totals.players.custom['Fly-By']}}</td>
                <td ng-show="filters.events['Defensive Block']" ng-if="!indexes.HP1">{{report.totals.players.custom['Defensive Block']}}</td>
                <td ng-show="filters.events['Battle (+)']" ng-if="!indexes.HP1">{{report.totals.players.custom['Battle (+)']}}</td>
                <td ng-show="filters.events['Battle (-)']" ng-if="!indexes.HP1">{{report.totals.players.custom['Battle (-)']}}</td>
                <td ng-show="filters.events['Mid-Lane Drive']" ng-if="!indexes.HP1">{{report.totals.players.custom['Mid-Lane Drive']}}</td>
                <td ng-show="filters.events['2ndPuck(+)']" ng-if="!indexes.HP1">{{report.totals.players.custom['2ndPuck(+)']}}</td>
                <td ng-show="filters.events['2ndPuck(-)']" ng-if="!indexes.HP1">{{report.totals.players.custom['2ndPuck(-)']}}</td>
                <td ng-show="filters.events['Blueline (+)']" ng-if="!indexes.HP1">{{report.totals.players.custom['Blueline (+)']}}</td>
                <td ng-show="filters.events['Blueline (-)']" ng-if="!indexes.HP1">{{report.totals.players.custom['Blueline (-)']}}</td>
                <td ng-show="filters.events['Pass (+)']" ng-if="!indexes.HP1">{{report.totals.players.custom['Pass (+)']}}</td>
                <td ng-show="filters.events['Pass (-)']" ng-if="!indexes.HP1">{{report.totals.players.custom['Pass (-)']}}</td>
                <td ng-show="filters.events['Penalty (taken)']" ng-if="!indexes.HP1">{{report.totals.players.custom['Penalty (taken)']}}</td>
                <td ng-show="filters.events['Penalty (drawn)']" ng-if="!indexes.HP1">{{report.totals.players.custom['Penalty (drawn)']}}</td>
            </tr>
        </tbody>
    </table>
    <span id="table-events-Message" class="ng-hide">No player data. Please select some different options.<span>
</div><!-- .scrollable -->
