<div class="scrollable" ng-class="{ 'fixedFirstColumn': !indexes.HP1 }">
    <table class="table table-faceoffs">
        <thead>
            <th class="fixed-column">Player</th>
            <th>Win</th>
            <th>Loss</th>
            <th>Tie</th>
            <th>Total</th>
            <th ng-if="!indexes.HP1">Possession</th>
        </thead>
        <tbody>
            <tr ng-repeat="player in report.players | orderBy: 'name' | filter: { position: '!Goalie' }" ng-click="togglePlayerSelection(player)" ng-class="{'active': player == filters.player }">
                <td class="fixed-column"><span ng-show="indexes.games.length == 1" class="label label-primary player-number">{{player.jerseynumber}}</span> {{player.name}}</td>
                <td ng-if="filters.display == 'actual'">{{player.periods[filters.period - 1].faceoff.win}}</td>
                <td ng-if="filters.display == 'percentage'">{{player.percentages.periods[filters.period - 1].faceoff.win | percentage:0}}</td>
                <td ng-if="filters.display == 'actual'">{{player.periods[filters.period - 1].faceoff.loss}}</td>
                <td ng-if="filters.display == 'percentage'">{{player.percentages.periods[filters.period - 1].faceoff.loss | percentage:0}}</td>
                <td ng-if="filters.display == 'actual'">{{player.periods[filters.period - 1].faceoff.tie}}</td>
                <td ng-if="filters.display == 'percentage'">{{player.percentages.periods[filters.period - 1].faceoff.tie | percentage:0}}</td>
                <td cell-data data="{{player.periods[filters.period - 1].faceoff.total}}"></td>
                <td ng-if="filters.display == 'actual' && !indexes.HP1">{{player.periods[filters.period - 1].faceoff.possession}}</td>
                <td ng-if="filters.display == 'percentage' && !indexes.HP1">{{player.percentages.periods[filters.period - 1].faceoff.possession | percentage:0}}</td>
            </tr>
            <tr class="totals">
                <td class="fixed-column"><strong>Total</strong></td>
                <td ng-if="filters.display == 'actual'">{{report.totals.players.faceoff.win}}</td>
                <td ng-if="filters.display == 'percentage'">{{report.percent.totals.players.faceoff.win | percentage:0}}</td>
                <td ng-if="filters.display == 'actual'">{{report.totals.players.faceoff.loss}}</td>
                <td ng-if="filters.display == 'percentage'">{{report.percent.totals.players.faceoff.loss | percentage:0}}</td>
                <td ng-if="filters.display == 'actual'">{{report.totals.players.faceoff.tie}}</td>
                <td ng-if="filters.display == 'percentage'">{{report.percent.totals.players.faceoff.tie | percentage:0}}</td>
                <td cell-data data="{{report.totals.players.faceoff.total}}"></td>
                <td ng-if="filters.display == 'actual' && !indexes.HP1">{{report.totals.players.faceoff.possession}}</td>
                <td ng-if="filters.display == 'percentage' && !indexes.HP1">{{report.percent.totals.players.faceoff.possession | percentage:0}}</td>
            </tr>
        </tbody>
    </table>
    <span id="table-faceoffs-Message" class="ng-hide">No player data. Please select some different options.<span>
</div><!-- .scrollable -->
