<div class="actions clearfix">
    <button type="submit" class="btn btn-default btn-season-action" ng-click="exportCSV('#csv-table')">
        <span class="fa fa-file fa-md"></span>
        Export CSV
    </button>
</div>

<div class="scrollable fixedFirstColumn">
    <table class="table table-striped table-report" id="player-csv-table"  ng-class="{ 'demo': indexes.HP1 }">
        <thead>
          <tr>
            <th rowspan="2" class="fixed-column">Player</th>
            <th rowspan="2" ng-show="indexes.games.length > 1 && !indexes.HP1">Games Played</th>
            <th colspan="3">Points</th>
            <th rowspan="2">+/-</th>
            <th colspan="{{ indexes.HP1 ? '4' : '5' }}" ng-class="{ 'demo': indexes.HP1 }">Face-Offs</th>
            <th colspan="{{ indexes.HP1 ? '3' : '5' }}" ng-class="{ 'demo': indexes.HP1 }">Shots</th>
            <th colspan="16" ng-if="!indexes.HP1">Custom</th>
          </tr>
          <tr>
            <th></th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Total</th>
            <th>Win</th>
            <th>Loss</th>
            <th>Tie</th>
            <th>Total</th>
            <th ng-if="!indexes.HP1">Possn</th>
            <th>Goal</th>
            <th>Shot</th>
            <th ng-if="!indexes.HP1">Miss</th>
            <th ng-if="!indexes.HP1">Block</th>
            <th>Total</th>
            <th ng-if="!indexes.HP1">Give-Away</th>
            <th ng-if="!indexes.HP1">Take-Away</th>
            <th ng-if="!indexes.HP1">Hit</th>
            <th ng-if="!indexes.HP1">Fly-By</th>
            <th ng-if="!indexes.HP1">D. Block</th>
            <th ng-if="!indexes.HP1">Battle(+)</th>
            <th ng-if="!indexes.HP1">Battle(-)</th>
            <th ng-if="!indexes.HP1">Mid-Lane D</th>
            <th ng-if="!indexes.HP1">2ndPuck(+)</th>
            <th ng-if="!indexes.HP1">2ndPuck(-)</th>
            <th ng-if="!indexes.HP1">Blueline(+)</th>
            <th ng-if="!indexes.HP1">Blueline(-)</th>
            <th ng-if="!indexes.HP1">Pass (+)</th>
            <th ng-if="!indexes.HP1">Pass (-)</th>
            <th ng-if="!indexes.HP1">Pen. (taken)</th>
            <th ng-if="!indexes.HP1">Pen. (drawn)</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-if="filters.display == 'actual'" ng-repeat="player in report.players | orderBy: 'name' | filter: { position: '!Goalie' }">
                <td class="fixed-column"><span ng-show="indexes.games.length == 1 || indexes.HP1" class="label label-primary player-number">{{player.jerseynumber}}</span> {{player.name}}</td>
                <td cell-data data="{{player.gamesPlayed}}" ng-show="indexes.games.length > 1 && !indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].points.goal}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].points.assists}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].points.total}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].plusminus}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].faceoff.win}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].faceoff.loss}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].faceoff.tie}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].faceoff.total}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].faceoff.possession}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].shots.goal}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].shots.shot}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].shots.miss}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].shots.block}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].shots.total}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Give-Away']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Take-Away']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Hit']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Fly-By']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Defensive Block']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Battle (+)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Battle (-)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Mid-Lane Drive']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['2ndPuck(+)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['2ndPuck(-)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Blueline (+)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Blueline (-)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Pass (+)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Pass (-)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Penalty (taken)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Penalty (drawn)']}}" ng-if="!indexes.HP1"></td>
            </tr>
            <tr ng-if="filters.display == 'percentage'" ng-repeat="player in report.players | orderBy: 'name' | filter: { position: '!Goalie' }">
                <td class="fixed-column"><span ng-show="indexes.games.length == 1 || indexes.HP1" class="label label-primary player-number">{{player.jerseynumber}}</span> {{player.name}}</td>
                <td cell-data data="{{player.gamesPlayed}}" ng-show="indexes.games.length > 1 && !indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].points.goal}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].points.assists}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].points.total}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].plusminus}}"></td>
                <td cell-data data="{{player.percentages.periods[filters.period - 1].faceoff.win | percentage:0}}"></td>
                <td cell-data data="{{player.percentages.periods[filters.period - 1].faceoff.loss | percentage:0}}"></td>
                <td cell-data data="{{player.percentages.periods[filters.period - 1].faceoff.tie | percentage:0}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].faceoff.total}}"></td>
                <td cell-data data="{{player.percentages.periods[filters.period - 1].faceoff.possession | percentage:0}}"  ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.percentages.periods[filters.period - 1].shots.goal | percentage:0}}"></td>
                <td cell-data data="{{player.percentages.periods[filters.period - 1].shots.shot | percentage:0}}"></td>
                <td cell-data data="{{player.percentages.periods[filters.period - 1].shots.miss | percentage:0}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.percentages.periods[filters.period - 1].shots.block | percentage:0}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].shots.total}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Give-Away']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Take-Away']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Hit']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Fly-By']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Defensive Block']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Battle (+)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Battle (-)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Mid-Lane Drive']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['2ndPuck(+)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['2ndPuck(-)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Blueline (+)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Blueline (-)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Pass (+)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Pass (-)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Penalty (taken)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].custom['Penalty (drawn)']}}" ng-if="!indexes.HP1"></td>
            </tr>
            <tr class="totals">
                <td class="fixed-column"><strong>Total</strong></td>
                <td cell-data data="" ng-show="indexes.games.length > 1 && !indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.points.goal}}"></td>
                <td cell-data data="{{report.totals.players.points.assists}}"></td>
                <td cell-data data="{{report.totals.players.points.total}}"></td>
                <td cell-data data="{{report.totals.players.plusminus}}"></td>
                <td cell-data data="{{report.totals.players.faceoff.win}}" ng-if="filters.display == 'actual'"></td>
                <td cell-data data="{{report.percent.totals.players.faceoff.win | percentage:0}}" ng-if="filters.display == 'percentage'"></td>
                <td cell-data data="{{report.totals.players.faceoff.loss}}" ng-if="filters.display == 'actual'"></td>
                <td cell-data data="{{report.percent.totals.players.faceoff.loss | percentage:0}}" ng-if="filters.display == 'percentage'"></td>
                <td cell-data data="{{report.totals.players.faceoff.tie}}" ng-if="filters.display == 'actual'"></td>
                <td cell-data data="{{report.percent.totals.players.faceoff.tie | percentage:0}}" ng-if="filters.display == 'percentage'"></td>
                <td cell-data data="{{report.totals.players.faceoff.total}}"></td>
                <td cell-data data="{{report.totals.players.faceoff.possession}}" ng-if="filters.display == 'actual' && !indexes.HP1"></td>
                <td cell-data data="{{report.percent.totals.players.faceoff.possession | percentage:0}}" ng-if="filters.display == 'percentage' && !indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.shots.goal}}" ng-if="filters.display == 'actual'"></td>
                <td cell-data data="{{report.percent.totals.players.shots.goal | percentage:0}}" ng-if="filters.display == 'percentage'"></td>
                <td cell-data data="{{report.totals.players.shots.shot}}" ng-if="filters.display == 'actual'"></td>
                <td cell-data data="{{report.percent.totals.players.shots.shot | percentage:0}}" ng-if="filters.display == 'percentage'"></td>
                <td cell-data data="{{report.totals.players.shots.miss}}" ng-if="filters.display == 'actual' && !indexes.HP1"></td>
                <td cell-data data="{{report.percent.totals.players.shots.miss | percentage:0}}" ng-if="filters.display == 'percentage' && !indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.shots.block}}" ng-if="filters.display == 'actual' && !indexes.HP1"></td>
                <td cell-data data="{{report.percent.totals.players.shots.block | percentage:0}}" ng-if="filters.display == 'percentage' && !indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.shots.goal + report.totals.players.shots.shot}}" ng-if="indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.shots.total}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Give-Away']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Take-Away']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Hit']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Fly-By']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Defensive Block']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Battle (+)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Battle (-)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Mid-Lane Drive']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['2ndPuck(+)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['2ndPuck(-)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Blueline (+)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Blueline (-)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Pass (+)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Pass (-)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Penalty (taken)']}}" ng-if="!indexes.HP1"></td>
                <td cell-data data="{{report.totals.players.custom['Penalty (drawn)']}}" ng-if="!indexes.HP1"></td>
            </tr>
        </tbody>
    </table>
</div><!-- .scrollable -->

<div class="scrollable">
    <table class="table table-striped table-goalie" id="goalie-csv-table">
        <thead>
            <th>Goalie</th>
            <th ng-show="indexes.games.length > 1 && !indexes.HP1">Games Played</th>
            <th>Shots</th>
            <th>Saves</th>
            <th>Goals</th>
        </thead>
        <tbody>
            <tr ng-if="filters.display == 'actual'" ng-repeat="player in report.players | orderBy: 'name' | filter: { position: 'Goalie' }">
                <td><span class="label label-primary player-number" ng-show="indexes.games.length == 1 || indexes.HP1">{{player.jerseynumber}}</span> {{player.name}}</td>
                <td cell-data data="{{player.gamesPlayed}}" ng-show="indexes.games.length > 1 && !indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].shots.shot + player.periods[filters.period - 1].shots.goal}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].shots.shot}}"></td>
                <td cell-data data="{{player.periods[filters.period - 1].shots.goal}}"></td>
            </tr>
            <tr ng-if="filters.display == 'percentage'" ng-repeat="player in report.players | orderBy: 'name' | filter: { position: 'Goalie' }">
                <td><span class="label label-primary player-number" ng-show="indexes.games.length == 1 || indexes.HP1">{{player.jerseynumber}}</span> {{player.name}}</td>
                <td cell-data data="{{player.gamesPlayed}}" ng-show="indexes.games.length > 1 && !indexes.HP1"></td>
                <td cell-data data="{{player.periods[filters.period - 1].shots.shot + player.periods[filters.period - 1].shots.goal}}"></td>
                <td cell-data data="{{player.percentages.periods[filters.period - 1].shots.shot | percentage:0}}"></td>
                <td cell-data data="{{player.percentages.periods[filters.period - 1].shots.goal | percentage:0}}"></td>
            </tr>
            <tr class="totals">
                <td><strong>Total</strong></td>
                <td cell-data data="" ng-show="indexes.games.length > 1 && !indexes.HP1"></td>
                <td cell-data data="{{report.totals.goalies.shots.shot + report.totals.goalies.shots.goal}}"></td>
                <td cell-data data="{{report.totals.goalies.shots.shot}}" ng-if="filters.display == 'actual'"></td>
                <td cell-data data="{{report.percent.totals.goalies.shots.shot | percentage:0}}" ng-if="filters.display == 'percentage'"></td>
                <td cell-data data="{{report.totals.goalies.shots.goal}}" ng-if="filters.display == 'actual'"></td>
                <td cell-data data="{{report.percent.totals.goalies.shots.goal | percentage:0}}" ng-if="filters.display == 'percentage'"></td>
            </tr>
        </tbody>
    </table>
    <span id="table-report-Message" class="ng-hide text-center center-block">No game data. Please select a different game.<span>
</div><!-- .scrollable -->
