<!doctype html>
<html ng-app="statsGuy" lang="en">
<head>
    <title>StatsCloud</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="styles/application.css" />

    <base href="/" />
</head>
<body ng-controller="ApplicationController" class="page-{{containerClass}}"  ng-class="{ 'ie': isIE }">
    <div class="application-wrapper">
        <div ng-include src="'views/partials/navigation.tpl.html'"></div>

        <div class="site-content container">
            <div ng-include src="'views/partials/alerts.tpl.html'" ng-controller="AlertsController"></div>

            <div ui-view="container"></div>
        </div>
    </div>

    <footer class="application-footer navbar navbar-default navbar-footer">
        <ul class="actions">
          <li><a href="mailto:statscloud.support@ithiam.com?subject=StatsCloud Support Request">Contact Support</a></li>
          <li class="separator">|</li>
          <li><span class="copyright">Copyright &#169; {{ copyright.year }} Ithiam Sports</span></li>
        </ul>
    </footer>

    <!-- build:vendor js/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/chartjs/Chart.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/pixi.js/bin/pixi.js"></script>
    <!-- endbower -->
    <script src="js/lib/simpleheat.js"></script>
    <!-- endbuild -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- build:js js/app.js -->
    <!-- application scripts -->
    <script src="js/application.js"></script>

    <script src="js/services/loopback.js"></script>
    <script src="js/services/authentication.js"></script>
    <script src="js/services/alert.js"></script>
    <script src="js/services/country.js"></script>

    <script src="js/controllers/alert.js"></script>
    <script src="js/controllers/application.js"></script>
    <script src="js/controllers/file-upload.js"></script>
    <script src="js/controllers/modal.js"></script>
    <script src="js/controllers/report.js"></script>
    <script src="js/controllers/season.js"></script>
    <script src="js/controllers/team.js"></script>
    <script src="js/controllers/user.js"></script>
    <script src="js/controllers/log.js"></script>

    <script src="js/modules/controllers.js"></script>
    <script src="js/modules/directives.js"></script>
    <script src="js/modules/filters.js"></script>
    <script src="js/modules/services.js"></script>

    <script src="js/utils/mixins.js"></script>
    <!-- end application scripts -->
    <!-- endbuild -->
</body>
</html>
