<div class="row" ng-if="session.role == 'ISA'">
    <div class="col-md-8">

        <h3>Create a Season</h3>

        <form name="createSeason">
            <div class="form-group">
                <label for="name">Name</label>
                <input  type="text"
                        class="form-control"
                        placeholder="e.g. 2014-2015 Season"
                        ng-model="newSeason.name">
            </div>

            <div class="form-group">
                <label for="app">App</label>
                <select name="app" class="form-control" ng-options="app.appTag for app in apps track by app" ng-model="selected.app"></select>
            </div>

            <div class="form-group">
                <label for="name">Start date</label>
                <input  type="date"
                        class="form-control"
                        ng-model="newSeason.startDate">
            </div>


            <div class="form-group">
                <label for="name">End date</label>
                <input  type="date"
                        class="form-control"
                        ng-model="newSeason.endDate">
            </div>

            <div class="form-group">
                <label for="name">Price</label>
                <input  type="text"
                        class="form-control col-md-3"
                        placeholder="e.g. 10"
                        ng-model="newSeason.price">
            </div>

            <div class="form-group">
                <label for="active">Active</label>
                <select name="active" class="form-control" ng-options="activeOption for activeOption in activeOptions" ng-model="newSeason.active"></select>
            </div>

            <button type="submit" class="btn btn-success btn-season-action" ng-click="create()">
                <span class="fa fa-check fa-md"></span>
                Submit
            </button>
            <button type="submit" class="btn btn-default btn-season-action" ng-click="cancel()">
                <span class="fa fa-remove fa-md"></span>
                Cancel
            </button>
        </form>

    </div>
</div>
