<div class="row" ng-if="session.role == 'ISA'">
    <div class="col-md-8">

        <h3>Edit Season</h3>

        <form name="editSeason">
            <div class="form-group">
            <label for="name">Name</label>
            <input  type="text"
                    class="form-control"
                    placeholder="e.g. 2014-2015 Season"
                    ng-model="editedSeason.name">
            </div>

            <div class="form-group">
                <label for="name">Start date</label>
                <input  type="date"
                        class="form-control"
                        ng-model="editedSeason.startDate">
            </div>

            <div class="form-group">
                <label for="name">End date</label>
                <input  type="date"
                        class="form-control"
                        ng-model="editedSeason.endDate">
            </div>

            <button type="submit" class="btn btn-success btn-season-action" ng-click="edit()">
                <span class="fa fa-check fa-md"></span>
                Update
            </button>
            <button type="submit" class="btn btn-default btn-season-action" ng-click="cancel()">
                <span class="fa fa-remove fa-md"></span>
                Cancel
            </button>
        </form>

    </div>
</div>
