<div class="row">
    <reports-sidebar></reports-sidebar>

    <div ng-show="indexes.games.length == 0" class="no-results">
        <h5>Nothing to Report</h5>
        <p>Looks like there's nothing to report yet. Please select one or more games on the left to begin your report.</p>
    </div>

    <div ng-hide="indexes.games.length == 0" class="report fadeIn animated" ng-class="{'col-md-8': sidebarExpanded, 'col-md-11': !sidebarExpanded}">
        <h5>
            <div ng-if="indexes.games.length == 1 || indexes.HP1">
                {{teams[indexes.team].name}} vs. {{teams[indexes.team].games[indexes.games[0]].rival}}
                ({{teams[indexes.team].games[indexes.games[0]].date | date:'MMMM dd, yyyy h:mm a'}})
            </div>
            <div ng-if="indexes.games.length > 1 && !indexes.HP1">
                {{teams[indexes.team].name}} ({{indexes.games.length}} Game Summary)
            </div>
        </h5>
        <h6>
            {{currentDate | date:'MMMM dd, yyyy h:mm a'}}
        </h6>

        <div ng-show="filters.report == 'events' || filters.report == 'faceOff'">
            <img src="images/rink-legend-ozone-right.png" id="rink-legend" alt="Legend">
            <div class="rink-display">
              <div ng-show="filters.report == 'events'">
                  <canvas ng-show="filters.render == 'players'" id="renderer"></canvas>
                  <canvas ng-show="filters.render == 'intensityPlot'" id="heatmap" width="650" height="277"></canvas>
              </div>
              <div ng-show="filters.report == 'faceOff'" id="faceoff-display" ng-class="{ 'demo': indexes.HP1 }">
                  <canvas class="dot dot-team dot-1" id="team-dot-1" ng-class="{ 'demo': indexes.HP1 }"></canvas>
                  <div class="dot dot-team dot-1 dot-legend">{{report.faceoffLegend[0]}}</div>
                  <canvas class="dot dot-team dot-2" id="team-dot-2" ng-class="{ 'demo': indexes.HP1 }"></canvas>
                  <div class="dot dot-team dot-2 dot-legend">{{report.faceoffLegend[1]}}</div>
                  <canvas class="dot dot-team dot-3" id="team-dot-3" ng-class="{ 'demo': indexes.HP1 }"></canvas>
                  <div class="dot dot-team dot-3 dot-legend">{{report.faceoffLegend[2]}}</div>
                  <canvas class="dot dot-team dot-4" id="team-dot-4" ng-class="{ 'demo': indexes.HP1 }"></canvas>
                  <div class="dot dot-team dot-4 dot-legend">{{report.faceoffLegend[3]}}</div>
                  <canvas class="dot dot-team dot-5" id="team-dot-5" ng-class="{ 'demo': indexes.HP1 }"></canvas>
                  <div class="dot dot-team dot-5 dot-legend">{{report.faceoffLegend[4]}}</div>
                  <canvas class="dot dot-team dot-6" id="team-dot-6" ng-class="{ 'demo': indexes.HP1 }"></canvas>
                  <div class="dot dot-team dot-6 dot-legend">{{report.faceoffLegend[5]}}</div>
                  <canvas class="dot dot-team dot-7" id="team-dot-7" ng-class="{ 'demo': indexes.HP1 }"></canvas>
                  <div class="dot dot-team dot-7 dot-legend">{{report.faceoffLegend[6]}}</div>
                  <canvas class="dot dot-team dot-8" id="team-dot-8" ng-class="{ 'demo': indexes.HP1 }"></canvas>
                  <div class="dot dot-team dot-8 dot-legend">{{report.faceoffLegend[7]}}</div>
                  <canvas class="dot dot-team dot-9" id="team-dot-9" ng-class="{ 'demo': indexes.HP1 }"></canvas>
                  <div class="dot dot-team dot-9 dot-legend">{{report.faceoffLegend[8]}}</div>
                  <canvas class="dot dot-opposition dot-1" id="opposition-dot-1"></canvas>
                  <canvas class="dot dot-opposition dot-2" id="opposition-dot-2"></canvas>
                  <canvas class="dot dot-opposition dot-3" id="opposition-dot-3"></canvas>
                  <canvas class="dot dot-opposition dot-4" id="opposition-dot-4"></canvas>
                  <canvas class="dot dot-opposition dot-5" id="opposition-dot-5"></canvas>
                  <canvas class="dot dot-opposition dot-6" id="opposition-dot-6"></canvas>
                  <canvas class="dot dot-opposition dot-7" id="opposition-dot-7"></canvas>
                  <canvas class="dot dot-opposition dot-8" id="opposition-dot-8"></canvas>
                  <canvas class="dot dot-opposition dot-9" id="opposition-dot-9"></canvas>
              </div>
                <object type="image/svg+xml" data="images/rink.svg" id="rink"></object>


                <div ng-show="filters.report == 'faceOff'" class='faceoff-legend'>
                  <table>
                    <tbody>
                      <tr>
                        <td>Player</td>
                        <td></td>
                        <td>Win</td>
                        <td></td>
                        <td>Tie</td>
                        <td></td>
                        <td>Loss</td>
                        <td ng-class="{ 'demo': indexes.HP1 }">Possession</td>
                        <td ng-class="{ 'demo': indexes.HP1 }"></td>
                        <td ng-class="{ 'demo': indexes.HP1 }">Win</td>
                        <td ng-class="{ 'demo': indexes.HP1 }"></td>
                        <td ng-class="{ 'demo': indexes.HP1 }">Loss</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>

        <reports-type-report ng-show="filters.report == 'report'"></reports-type-report>
        <reports-type-events ng-show="filters.report == 'events'"></reports-type-events>
        <reports-type-face-off ng-show="filters.report == 'faceOff'"></reports-type-face-off>
    </div><!-- .col-md-8/12 -->
</div><!-- .row -->
