<div ng-hide="sidebarExpanded" class="col-md-1 sidebar">
    <hide-sidebar-control></hide-sidebar-control>
</div><!-- .col-md-4 -->

<div ng-show="sidebarExpanded" class="col-md-4 sidebar fadeIn animated">
    <hide-sidebar-control></hide-sidebar-control>

    <select-report-control></select-report-control>
    <filter-period-control></filter-period-control>
    <filter-report-control></filter-report-control>
    <filter-display-control ng-if="!indexes.HP1"></filter-display-control>
    <filter-specialty-control ng-if="!indexes.HP1"></filter-specialty-control>
</div><!-- .col-md-1 -->
