<div class="row" >
  <h3 class="col-md-12">Create a Team</h3>

    <form name="createTeam" action="/api/payment" method="post">
    <input type="hidden" name="season" ng-value="selected[selected.subscription].season.id">
    <div class="row col-md-12">
      <h4 class="col-md-12" id="team-name">Name your team</h4>
          <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input  type="text"
                      name="name"
                      class="form-control"
                      placeholder="e.g. Calgary Flames"
                      ng-model="newTeam.name"
                      required>
          </div>
      <div class="select-season col-md-2 col-md-offset-3">
        <br>
      </div>
    </div>

    <div class="row col-md-12">
      <div class="season-container col-md-4">
        <label class="season-label">
            Select a season:
        </label>
        <select name="masterSeason" class="form-control" ng-options="season.name for season in masterSeasons track by season.id" ng-model="selected.masterSeason"></select>
        <div class="length">{{ selected.masterSeason.startDate | date:"MMM dd, yyyy"}} - {{selected.masterSeason.endDate | date:"MMM dd, yyyy"}}</div>
      </div>
    </div>

    <div class="row subscription-type-container" ng-if="selected.masterSeason">
      <div class="col-md-12">

        <h4 class="title col-md-12">Choose Your StatsGuy Version</h4>
        <p class="col-md-12"><strong>Note:</strong> Make sure your subscription is aligned with your iPad application version.</p>

        <ul class="subscription-types">

          <li class="subscription subscription-hp1 col-sm-4 col-md-3" ng-if="selected.hp1.season">
            <input class="form-radio" id="subscription-type-hp1" name="subscription-type" ng-model="selected.subscription" type="radio" ng-change="getPrices()" value="hp1">
            <label class="option" for="subscription-type-hp1">
              <div class="heading">
                <h2>{{ apps.HP1.appTag }}</h2>
                <h3>{{ apps.HP1.appHeading }}</h3>
              </div>
              <div>
                <div class="price">
                  <div class="original-amount" ng-if="prices.hp1.fullPrice > prices.hp1.payable">${{ prices.hp1.fullPrice }} original</div>
                  <div class="amount"><span class="dollar-sign">$</span>{{ prices.hp1.payable }}<span class="length"> /{{ selected.masterSeason.monthLength }} month<span ng-if="selected.masterSeason.monthLength > 1">s</span></span></div>
                  <div class="discount" ng-if="prices.hp1.fullPrice > prices.hp1.payable">{{ prices.hp1.discountedPercentage }}% Discount</div>
                </div>
              </div>
              <p>{{ apps.HP1.appDescription }}</p>
              <a class="learn-more btn btn-default" ng-click="learnMore()">Learn More</a>
            </label>
          </li>

          <li class="subscription subscription-hp1 col-sm-4 col-md-3" ng-if="selected.hp3.season">
            <input class="form-radio" id="subscription-type-hp3" name="subscription-type" ng-model="selected.subscription" type="radio" ng-change="getPrices()" value="hp3">
            <label class="option" for="subscription-type-hp3">
              <div class="heading">
                <h2>{{ apps.HP3.appTag }}</h2>
                <h3>{{ apps.HP3.appHeading }}<i class="fa fa-xs fa-star"></i></h3>
              </div>
              <div>
                <div class="price">
                  <div class="original-amount" ng-if="prices.hp3.fullPrice > prices.hp3.payable">${{ prices.hp3.fullPrice }} original</div>
                  <div class="amount"><span class="dollar-sign">$</span>{{ prices.hp3.payable }}<span class="length"> /{{ selected.masterSeason.monthLength }} month<span ng-if="selected.masterSeason.monthLength > 1">s</span></span></div>
                  <div class="discount" ng-if="prices.hp3.fullPrice > prices.hp3.payable">{{ prices.hp3.discountedPercentage }}% Discount</div>
                </div>
              </div>
              <p>{{ apps.HP3.appDescription }}</p>
              <a class="learn-more btn btn-default" ng-click="learnMore()">Learn More</a>
            </label>
          </li>

        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 free-trial">
        <div class="col-md-8">
          <h5>Free Trial Option</h5>
          <p>Check the box below to start a free trial of your season subscription. This will give you {{ trialLength.days }} days of free, unrestricted use of StatsCloud and the StatsGuy app.</p>
          <p>When you're ready to purchase, press the Upgrade button on the Subscriptions page.</p>
        </div>
        <div class="form-group col-md-12">
          <br>
          <input type="checkbox" name="demo" ng-model="admin.isDemo">
          <label>
            Free Trial
          </label>
          <div class="trial-length" ng-if="admin.isDemo">
            {{ currentTime | date:"MMM dd, yyyy"}} - {{ trialExpiryDate.trialExpiry | date:"MMM dd, yyyy" }}
          </div>
        </div>
      </div>
    </div>

    <div class="row col-md-12" ng-if="!admin.isDemo">
        <h4 class="col-md-12">Billing Information</h4>
        <div class="form-group col-md-4">
            <label class="filter-label">
                Select a Country
            </label>
            <select name="country" class="form-control" ng-options="country.name for country in countries track by country.alpha3Code" ng-model="selected.country"></select>
        </div>
    </div>
    <div ng-show="selected.country.alpha3Code === 'CAN'" class="row col-md-12">
        <div class="form-group col-md-4">
            <label class="filter-label">
                Select a Province
            </label>
            <select name="region" class="form-control" ng-options="province.name for province in provinces track by province.alpha2Code" ng-model="selected.region"></select>
        </div>
    </div>

    <div class="row col-md-12 submit-cancel-buttons">
      <div class="col-md-6">
        <button type="submit" class="btn btn-success btn-team-action" ng-disabled="createTeam.name.$error.required || !selected.country || (selected.country.alpha3Code === 'CAN' && !selected.region)">
            <span ng-show="admin.isDemo">
              <span class="fa fa-clock-o fa-md"></span>
              Start Free Trial
            </span>
            <span ng-hide="admin.isDemo">
              <span class="fa fa-cc-paypal fa-md"></span>
              Purchase
            </span>
        </button>
        <button type="button" class="btn btn-default btn-team-action" ng-click="cancel()">
            <span class="fa fa-remove fa-md"></span>
            Cancel
        </button>
      </div>
    </div>
    <br><br>
    </form>

</div>
