<div class="row" ng-if="session.role == 'ISA'">
    <div class="col-md-8">

        <h3>Edit Team</h3>

        <form name="editTeam">
            <div class="form-group">
                <label for="name">Name</label>
                <input  type="text"
                        class="form-control"
                        placeholder="e.g. Calgary Flames"
                        ng-model="editedTeam.name">
            </div>

            <div class="form-group">
                <label for="name">Photo</label>
                <input  type="text"
                        class="form-control"
                        placeholder="e.g. http://your.org/photo.png"
                        ng-model="editedTeam.photo">
            </div>

            <button type="submit" class="btn btn-success btn-team-action" ng-click="edit()">
                <span class="fa fa-check fa-md"></span>
                Update
            </button>
            <button type="submit" class="btn btn-default btn-team-action" ng-click="cancel()">
                <span class="fa fa-remove fa-md"></span>
                Cancel
            </button>
        </form>

    </div>
</div>
