<div ng-hide="isEditingTeamSeason(teamSeason)">
    <div class="col-sm-2">
        {{teamSeason.season.name}}
    </div>

    <div class="col-sm-4">
        {{teamSeason.name}}
    </div>

    <div class="col-sm-3">
        <span> Start : {{teamSeason.effectiveDate | date:"MMM dd, yyyy"}}</span><br>
        <span> Expiry : {{teamSeason.expiryDate | date:"MMM dd, yyyy"}}</span><br>
        <span><i class="fa fa-refresh fa-sm"></i> Last Sync : {{teamSeason.lastSynchronizeDate | date:"MMM dd, yyyy 'at' h:mma"}}</span>
    </div>

    <div class="col-sm-1">
        {{teamSeason.userRoles[0].name}}
    </div>

    <div class="col-sm-2">
        <div class="free-trial-label pull-right" ng-if="teamSeason.dbType === 'demo'">
          <i class="fa fa-xs fa-clock-o"></i> Free Trial
        </div>

        <div class="btn-group team-season-purchase pull-right" ng-if="teamSeason.dbType === 'demo' && session.role !== 'ISA'">
          <button ui-sref="teams.upgrade({ id: teamSeason.id })" class="btn btn-success btn-sm"><i class="fa fa-xs fa-cc-paypal"></i> Upgrade</button>
        </div>

        <div class="btn-group team-season-dropdown pull-right" dropdown ng-if="(session.role === 'ISA' || teamSeason.userRoles[0].name !== 'Coach') && (session.role === 'ISA' || teamSeason.dbType === 'real')">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" dropdown-toggle data-toggle="dropdown">
                Season <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li ng-if="session.role == 'ISA'">
                    <a href ng-click=""><span class="fa fa-envelope fa-sm"></span> Invite users to view season</a>
                </li>
                <li class="divider" ng-if="session.role == 'ISA'"></li>
                <li ng-if="session.role == 'ISA'">
                    <a href ng-click="upload(teamSeason)">
                        <span class="fa fa-cloud-upload fa-sm"></span> Push Database
                    </a>
                </li>
                <li ng-if="session.role == 'ISA'">
                    <a href="/api/team/backup/last?teamSeason={{teamSeason.uuid}}" target="_blank">
                        <span class="fa fa-cloud-download fa-sm"></span> Pull Database
                    </a>
                </li>
                <li class="divider" ng-if="session.role == 'ISA'"></li>
                <li ng-if="session.role == 'ISA' || teamSeason.userRoles[0].name !== 'Coach'">
                    <a href ng-click="toggleEditTeamSeason(teamSeason)"><span class="fa fa-pencil fa-sm"></span> Edit</a>
                </li>
                <li ng-if="session.role == 'ISA'">
                    <a href ng-click="deleteTeamSeasonConfirm(teamSeason)"><span class="fa fa-trash fa-sm"></span> Delete</a>
                </li>
            </ul><!-- .dropdown-menu -->
        </div><!-- .btn-group -->
    </div><!-- .col-sm-2 -->
</div><!-- ng-if="isEditing..." -->

<div ng-show="isEditingTeamSeason(teamSeason)">
    <div class="col-sm-2">
        {{teamSeason.season.name}}
    </div>

    <div class="col-sm-4">
        <input  type="text"
                class="form-control input-sm"
                id="team-season-name"
                ng-model="editedTeamSeason.name">
    </div>
    <div class="col-sm-3">
      <span>Start : {{teamSeason.effectiveDate | date:"MMM dd, yyyy"}}</span><br>
      <span>Expiry : {{teamSeason.expiryDate | date:"MMM dd, yyyy"}}</span><br>
      <span><i class="fa fa-refresh fa-sm"></i> Last Sync : {{teamSeason.lastSynchronizeDate | date:"MMM dd, yyyy 'at' h:mma"}}</span>
    </div>

    <div class="col-sm-1">
        {{teamSeason.userRoles[0].name}}
    </div>

    <div class="col-sm-2">
        <button type="button" class="btn btn-danger btn-sm btn-team-season-action pull-right" ng-click="cancelEditTeamSeason()">
            <span class="fa fa-remove fa-sm"></span>
        </button>
        <button type="submit" class="btn btn-success btn-sm btn-team-season-action pull-right" ng-click="submitEditTeamSeason()">
            <span class="fa fa-check fa-sm"> Save</span>
        </button>
    </div>
</div>
