<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-sm-4">
                <form name="searchTeams" class="search-teams">
                    <input type="search" class="form-control" ng-model="searchQuery" id="search-teams" placeholder="Search...">
                </form>
            </div>
            <div class="col-sm-8">
                <div class="teams-actions pull-right" ng-hide="isAdddingTeam">
                    <button type="button" class="btn btn-success btn-season-add" ui-sref="seasons.create" ng-if="session.role == 'ISA'">
                        <span class="fa fa-plus fa-md"></span> Add Season
                    </button>
                    <button type="button" class="btn btn-success btn-team-add" ui-sref="teams.create">
                        <span class="fa fa-plus fa-md"></span> Add Team
                    </button>
                </div>
            </div>
        </div>
        <div class = "row">
          <div class="col-sm-4" ng-if="session.role !== 'ISA'">
            <h4>StatsCloud™ for Coaches</h4>
            <br>
          </div>
        </div>

        <ul class="teams">
          <li class="row header" ng-if="session.role !== 'ISA'">
              <div class="col-sm-2">
                  <strong>Season</strong>
              </div>
              <div class="col-sm-4">
                  <strong>Name</strong>
              </div>
              <div class="col-sm-3">
                  <strong>Date(s)</strong>
              </div>
              <div class="col-sm-1">
                  <strong>Role</strong>
              </div>
          </li>
            <!-- IF ISA -->
            <li ng-if="session.role == 'ISA'" ng-repeat="team in teams | filter:searchQuery">
              <div class="row team">
                  <!-- Icon -->
                  <div class="col-sm-1">
                      <img ng-if="team.photo" ng-src="{{team.photo}}" class="team-icon">
                  </div>

                  <!-- Name -->
                  <div class="col-sm-9">
                      <h6>{{team.name}}</h6>
                  </div>

                  <!-- Form Actions -->
                  <div class="col-sm-2">
                      <div class="btn-group team-dropdown pull-right" dropdown >
                          <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle data-toggle="dropdown" >
                              Team <span class="caret"></span>
                          </button>

                          <ul class="dropdown-menu" role="menu">
                              <li>
                                  <a href ng-click="addSeason(team)">
                                      <span class="fa fa-plus fa-sm"></span> Add a Season
                                  </a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                  <a ui-sref="teams.edit({ id: team.id })"><span class="fa fa-pencil fa-sm"></span> Edit</a>
                              </li>
                              <li>
                                  <a href ng-click="deleteTeam(team)"><span class="fa fa-trash fa-sm"></span> Delete</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>

              <ul ng-if="team.teamSeasons.length" class="team-seasons">
                  <li class="row header">
                      <div class="col-sm-2">
                          <strong>Season</strong>
                      </div>
                      <div class="col-sm-4">
                          <strong>Name</strong>
                      </div>
                      <div class="col-sm-3">
                          <strong>Date(s)</strong>
                      </div>
                      <div class="col-sm-1">
                          <strong>Role</strong>
                      </div>
                  </li>
                  <li team-list-item ng-repeat="teamSeason in team.teamSeasons" class="row team-season">
                  </li>
              </ul>
            </li>
            <!-- END IF ISA -->

            <!-- IF USER-->
            <li ng-if="session.role !== 'ISA'" ng-repeat="team in teams | filter:accessibleTeams | filter:searchQuery">
              <ul ng-if="team.teamSeasons.length" class="team-seasons">
                  <li team-list-item ng-repeat="teamSeason in team.teamSeasons | filter:accessibleTeamSeasons" class="row team-season">
                  </li>
              </ul>
            </li>
            <!-- END IF USER-->
        </ul>
        <br>
        <div ng-show="(teams | filter:accessibleTeams).length == 0" class="text-center">
          <h5>No teams to show.</h5>
        </div>
    </div>
</div>
