<div class="row" >

  <div class="col-md-12">
      <alert type="warning" ng-if="seasonExpired" class="fadeIn animated">
        You cannot upgrade this subscription because the season has already ended.
      </alert>
  </div>

  <h3 class="col-md-12">Upgrade Subscription</h3>

  <form name="upgradeTeam" action="/api/payment/upgrade" method="post">
    <input type="hidden" name="teamSeason" ng-value="teamSeason.id">

    <div class="row">
      <div class="col-md-12 review">
        <div class="col-md-8">
          <h5>Purchase Review</h5>
        </div>
        <div class="form-group col-md-12">
          <div class="subscription-length">
            <div class="length item">
              <label>Subscription Period:</label>
              <div class="value">{{ effectiveDate | date:"MMM dd, yyyy" }} - {{ expiryDate | date:"MMM dd, yyyy" }}</div>
            </div>
            <div class="price item" ng-if="price.discountedAmount > 0">
              <label>Season Price:</label>
              <div class="value">${{ price.fullPrice }}</div>
            </div>
            <div class="discount item" ng-if="price.discountedAmount > 0">
              <label>Discount:</label>
              <div class="value">-${{ price.discountedAmount }} ({{ price.discountedPercentage }}%)</div>
            </div>
            <div class="total-price item">
              <label>Total Amount:</label>
              <div class="value">${{ price.payable }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row col-md-12" ng-if="!admin.isDemo">
        <h4 class="col-md-12">Billing Information</h4>
        <div class="form-group col-md-4">
            <label class="filter-label">
                Select a Country
            </label>
            <select name="country" class="form-control" ng-options="country.name for country in countries track by country.alpha3Code" ng-model="selected.country"></select>
        </div>
    </div>
    <div ng-show="selected.country.alpha3Code === 'CAN'" class="row col-md-12">
        <div class="form-group col-md-4">
            <label class="filter-label">
                Select a Province
            </label>
            <select name="region" class="form-control" ng-options="province.name for province in provinces track by province.alpha2Code" ng-model="selected.region"></select>
        </div>
    </div>

    <div class="row col-md-12 submit-cancel-buttons">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success btn-team-action" ng-disabled="!selected.country || (selected.country.alpha3Code === 'CAN' && !selected.region) || seasonExpired">
            <span ng-hide="admin.isDemo">
              <span class="fa fa-cc-paypal fa-md"></span>
              Purchase
            </span>
        </button>
        <button type="button" class="btn btn-default btn-team-action" ng-click="cancel()">
            <span class="fa fa-remove fa-md"></span>
            Cancel
        </button>
      </div>
    </div>
  </form>

</div>
