<div class="row">
    <div class="col-md-12">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" class="fadeIn animated">
            {{alert.msg}}
        </alert>
    </div>
</div>
