<div class="modal-header">
    <h4 class="modal-title">{{heading}}</h4>
</div>
<div class="modal-body modal-select-team-seasons">
    <div class="select-team">
        <strong>Select a Team:</strong><br>
        <ul>
            <a href ng-repeat="team in teams" ng-click="selectTeam(team)" ng-class="{active: selectedTeam == team}">
                <li>{{team.name}}</li>
            </a>
        </ul>
    </div>

    <div class="select-season">
        <strong>Select a Team Season:</strong><br>
        <ul ng-if="teamSeasons.length > 0">
            <a href ng-repeat="teamSeason in teamSeasons" ng-click="selectTeamSeason(teamSeason)" ng-class="{active: selectedTeamSeason == teamSeason}">
                <li>{{teamSeason.name}}</li>
            </a>
        </ul>
    </div>
    <br>
    <div class="select-role">
      <strong>User role for TeamSeason</strong><br>
      <br>
      <div class="col-md-4">
        <select ng-if="teamSeasons.length > 0" class="form-control input-md" data-ng-options="role.name for role in ROLES" data-ng-model="selectedRole.role">
          <option value="" disabled>Select role</option>
        </select>
      </div>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">Ok</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
