<div class="modal-header">
    <h4 class="modal-title">{{heading}}</h4>
</div>
<div class="modal-body">
    <h6>{{message}}</h6>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">Ok</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
