<div class="modal-header">
    <h4 class="modal-title">{{heading}}</h4>
</div>
<div class="modal-body modal-file-upload">
    <input type="file" name="base" ng-file-select="onFileSelect($files)">
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">Ok</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
