<!-- Not currently in use -->
<div class="modal-header">
    <h3 class="modal-title">Contact Number</h3>
</div>
<div class="modal-body modal-contact-number">
    <p>You are signed in as:&nbsp;  <b class="large-text">{{email}}</b></p>

    <p>We've detected we don't have a contact number for this account.<br>
       Please enter a valid phone number below and click submit.</p>
    <br>

    <form name="phoneNumberForm">
      <i class="fa fa-phone fa-lg"></i> &nbsp;

      <input type="text"
             name="input"
             ng-model="contactNumber.value"
             ng-pattern="contactNumber.valid"
             required
             placeholder=" (555) 555-5555"/>

      <span class="error" ng-show="phoneNumberForm.input.$error.pattern"> &nbsp; <i class="fa fa-close fa-lg text-danger"></i> Not a valid number!</span>
      <span class="error" ng-show="phoneNumberForm.$valid"> &nbsp; <i class="fa fa-check fa-lg text-success"></i> Valid!</span>
    </form>

    <br>
    <p class="small-text">(You will be asked again the next time you login if you do not submit a number)</p>
</div>
<div class="modal-footer modal-contact-number">
    <button id="continue" class="btn btn-success" ng-click="continue()">Submit123</button>
    <button class="btn btn-default" ng-click="cancel()">Dismiss</button>
    <button class="btn btn-danger" ng-click="cancel(); logout()">Sign Out</button>
</div>
