<div class="modal-header">
    <h4 class="modal-title">{{heading}}</h4>
</div>
<div class="modal-body modal-select-seasons">
    <ul>
        <a href ng-repeat="season in seasons" ng-click="selected(season)" ng-class="{active: selectedModel == season}"><li>{{season.name}}</li></a>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">Ok</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
