<nav class="site-header navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="fa fa-reorder fa-md"></span>
            </button>
            <a class="navbar-brand" href="http://www.ithiamsports.com"><img src="images/logo.png" alt="StatsGuy, made by Ithiam Sports"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- App navigation -->
            <ul class="nav navbar-nav" ng-show="session.isAuthenticated">
                <li ng-class="{'active': containerClass === 'reports'}">
                    <a ui-sref="reports"><span class="fa fa-line-chart fa-lg"></span> <span class="hidden-sm">Reports</span></a>
                </li>
                <li ng-class="{'active': containerClass === 'teams'}">
                    <a ui-sref="teams"><span class="fa fa-sitemap fa-lg"></span> <span class="hidden-sm">Subscriptions</span></a>
                </li>
                <li ng-if="session.role == 'ISA'" ng-class="{'active': containerClass === 'users'}">
                    <a ui-sref="users"><span class="fa fa-users fa-lg"></span> <span class="hidden-sm">Users</span></a>
                </li>
                <li ng-if="session.role == 'ISA'" ng-class="{'active': containerClass === 'logs'}">
                    <a ui-sref="logs"><span class="fa fa-file-text fa-lg"></span> <span class="hidden-sm">Logs</span></a>
                </li>
            </ul>

            <!-- User navigation -->
            <ul class="nav navbar-nav navbar-right" ng-show="session.isAuthenticated" ng-controller="UserNavigationController">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">
                        <span class="fa fa-user fa-lg"></span>
                        <span ng-if="session.role === 'ISA'" class="label label-primary">ISA</span>
                        {{session.identity.firstName}} {{session.identity.lastName}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href=""><span class="fa fa-cog fa-sm"></span> Account Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="logout()"><span class="fa fa-lock fa-sm"></span> Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
